[2014-05-20 20:31] torognes opened #1 "Improve selection of unique kmers in query"

[2014-05-20 20:31] torognes opened #2 "Parallelisation with pthreads"

[2014-05-20 20:33] torognes opened #3 "Vectorization of global alignment - single query vs multiple targets"

[2014-05-20 20:34] torognes opened #4 "Clustering similar to usearch"

[2014-05-20 20:35] torognes opened #5 "Performance comparison to usearch"
Compare sensitivity, precision, speed and memory usage

[2014-05-20 20:36] torognes opened #6 "Sequence masking"

[2014-05-20 20:36] torognes opened #7 "Implement more accept options"

[2014-05-20 20:36] torognes opened #8 "Search both strands"

[2014-05-20 20:52] torognes opened #9 "Add support for bzipped/gzipped fasta files"

[2014-05-27 14:42] torognes opened #10 "Prioritized features/options"
Here are some often used options that should be implemented (from Frédéric):

_Chimera checking_

--usersort
--chimeras FILENAME
--abskew 2.0
--uchime FILENAME
--log FILENAME
--nonchimeras FILENAME

_Clustering_

--cluster FILENAME
--usersort
--id 0.97
--slots 16769023
--sizeout
--uc FILENAME
--w 64
--seedsout FILENAME
--maxrejects 500
--sizein
--log FILENAME

[2014-07-29 10:06] #8 closed, assigned to nobody

[2014-07-29 10:07] #1 closed, assigned to torognes

[2014-08-28 08:09] #7 closed, assigned to nobody

[2014-08-28 08:10] #5 closed, assigned to nobody

[2014-08-28 08:10] #2 closed, assigned to nobody

[2014-08-28 08:31] torognes opened #11 "Clustering"
USEARCH clustering commands:
- cluster_fast
- cluster_smallmem
- cluster_otus

The cluster_otus is a more complex clustering method that involves chimera detection.

Clustering options suggested:
- --cluster FILENAME
- --usersort
- --id 0.97
- --slots 16769023
- --sizeout
- --uc FILENAME
- --w 64
- --seedsout FILENAME
- --maxrejects 500
- --sizein
- --log FILENAME

[2014-08-28 08:34] torognes opened #12 "Chimera detection"
Commands for chimera detection:
- uchime_ref
- uparse_ref

Suggested options for chimera checking

--usersort
--chimeras FILENAME
--abskew 2.0
--uchime FILENAME
--log FILENAME
--nonchimeras FILENAME

[2014-08-28 08:35] #10 closed, assigned to nobody

[2014-08-28 08:36] #4 closed, assigned to nobody

[2014-08-28 08:39] torognes opened #13 "Documentation"
A man page and other documentation should be created. As for now, the online USEARCH documentation is useful, but VSEARCH should not be dependent on it.

[2014-08-28 08:44] torognes opened #14 "Manuscript"
A manuscript describing VSEARCH should be submitted to a preprint journal.

[2014-08-28 08:51] torognes opened #15 "Support for long (>15 nt) and gapped seeds"
Requires changes to code that identified unique seeds in a sequence. Also the current direct index of kmers to a list of the database sequences where the kmer is present must be changed to a hash table.

[2014-09-02 12:54] torognes opened #16 "Vectorization of global alignment - single query vs single target"
SIMD-vectorization of global alignment of one query vs one target sequence. Should use the striped approach of Farrar (2007) or the vertical vector approach of Rognes (2000).

[2014-09-10 15:13] #9 closed, assigned to xflouris

[2014-09-21 14:17] #3 closed, assigned to torognes

[2014-09-23 21:40] #6 closed, assigned to torognes

[2014-09-24 15:05] torognes opened #17 "Convert array of top kmer hits into a min heap priority queue"
The `topscore_insert` function in search.cc should be modified to improve performance. This may be significant at least with long lists.

Look at [this blog](http://blog.mischel.com/2011/10/25/when-theory-meets-practice/) for inspiration.

[2014-09-26 20:22] #17 closed, assigned to torognes

[2014-10-05 22:20] #11 closed, assigned to nobody

[2014-10-19 19:46] torognes opened #18 "Fix values of some userfields"
qlo, qhi, tlo, thi, raw should have meaningful values.

[2014-10-19 19:48] torognes opened #19 "Add option to define identity as including terminal gaps"

[2014-10-19 19:49] torognes opened #20 "Fix number of columns in blast6out output for non-matching queries"

[2014-10-19 19:52] torognes opened #21 "Consistency with output_no_hits and uc_allhits"
Make output to alnout, blast6out, userout, uc etc consistent for non-matching queries with output_no_hits and uc_allhits.

[2014-10-28 09:49] torognes opened #22 "Segfault in dereplication"

[2014-10-28 10:50] torognes opened #23 "do not wrap alignments when rowlen=0"

[2014-10-28 10:54] torognes opened #24 "fix for maxaccepts=0 and maxrejects=0"

[2014-10-28 10:55] torognes opened #25 "Implement --cons_truncate clustering output option"

[2014-10-28 21:56] #24 closed, assigned to torognes

[2014-10-28 21:56] #23 closed, assigned to torognes

[2014-10-28 21:56] #22 closed, assigned to torognes

[2014-10-28 21:56] #21 closed, assigned to torognes

[2014-10-28 21:58] #19 closed, assigned to torognes

[2014-10-28 21:58] #20 closed, assigned to torognes

[2014-10-28 21:58] #18 closed, assigned to torognes

[2014-10-29 08:10] frederic-mahe opened #26 "Minor bug in Makefile"
After a `make`, if I want to clean the directory, the `make clean` command does not remove the object files:

[code]

I tried different modifications of the Makefile, but nothing worked. If I launch the `rm` command manually, the objects files are deleted as expected. I am using `GNU Make 4.0`.

That's weird.

[2014-10-29 09:42] #26 closed, assigned to nobody

[2014-11-03 19:23] torognes opened #27 "Shuffling not random on unix with --seed 0"
Ok on Mac

[2014-11-03 19:24] torognes opened #28 "When sorting, the --minsize and --maxsize options don't work (no change in the output)"

[2014-11-03 22:01] #28 closed, assigned to torognes

[2014-11-03 22:01] #27 closed, assigned to torognes

[2014-11-05 08:31] frederic-mahe opened #29 "maxuniquesize option for dereplication"
There is a minuniquesize option:

[code]

Maybe the opposite option (maxuniquesize) would be useful?

[2014-11-05 09:30] frederic-mahe opened #30 "Bug in masking"
With the latest vsearch version (0.2.0), when masking the `vderep.fsa` file, the output is empty when using `--qmask none` or `--qmask soft`. The output is ok when using `--qmask dust`:

[code]

The computation takes a few seconds with `dust`, but is immediate with `none` and `soft`.

[2014-11-05 16:08] #30 closed, assigned to nobody

[2014-11-05 16:08] #29 closed, assigned to nobody

[2014-11-05 17:46] frederic-mahe opened #31 "Difference between --blast6out and --userout for evalue and bits fields"
With the last version (0.2.2), the `evalue` and `bits` fields return different values. With `--blast6out` the fields are set to "*". With `--userout` `evalue = -1` and `bits = 0`.

The documentation says it should be `evalue = -1` and `bits = 0`.

[2014-11-06 09:14] frederic-mahe opened #32 "When searching a database against itself, sequence labels are not truncated correctly"
On a database of sequences with labels structured as such: `>sequenceID taxonomy`, it seems that the query receives the full fasta header while the target is truncated correctly when using `--self`. That leads to incorrect results where a query is aligned with itself. The option `--selfid` yields the correct result (no alignment of a query against itself).

[code]

The problem is the same when usi

[2014-11-06 09:16] frederic-mahe opened #33 "Difference between --blast6out and --userout for id field"
in --blast6out, the third field (id) should be 0.0 (real) when there is no alignment, not 0 (integer). The behavior is correct in --userout.

[2014-11-06 14:09] #31 closed, assigned to torognes

[2014-11-06 14:10] #32 closed, assigned to nobody

[2014-11-06 14:10] #33 closed, assigned to nobody

[2014-11-13 17:28] frederic-mahe opened #34 "Speed-up searching when using the --top_hits_only option"
During a search, the target sequences are sorted by decreasing k-mer composition similarity with the query sequence. The target sequences that are the most likely to get a high similarity score with the query are the first to be treated (i.e. pairwise aligned).

In a taxonomic assignment context (with `--maxaccepts 0 --maxrejects 0 --id 0.5`), and when using the option `--top_hits_only`, `vsearch`

[2014-11-19 08:59] frederic-mahe opened #35 "Should T and U be considered as identical during dereplication?"
When aligning sequences during searching and clustering, T and U are considered identical, regardless of
their case. During dereplication, T and U are treated as different. Should we harmonize that behavior? T and U treated as identical in every situation?

[2014-11-26 13:47] torognes opened #36 "Support for --sizein and --sizeout when clustering"
Read input sizes when --sizein is specified and write size of clusters to centroids file if --sizeout is specified.

[2014-11-26 13:50] torognes opened #37 "Check if illegal options are specified for the different commands"

[2014-11-28 14:49] #12 closed, assigned to torognes

[2014-11-28 14:51] #13 closed, assigned to frederic-mahe

[2014-11-28 15:28] torognes opened #38 "Stable sorting to avoid input-order dependencies"
Sorting performed by cluster_fast and uchime_denovo should be stable to avoid input order dependencies. Sort by length and labels (and sequences?) as secondary keys.

[2014-11-28 20:33] torognes opened #39 "Support for reading from / writing to pipes (input from stdin and output to stdout)"

[2014-12-01 14:59] torognes opened #40 "Automatic regression testing"

[2014-12-01 15:29] torognes opened #41 "Bug in sortbysize"
Sortbysize does not work. Will be fixed in next version.

[2014-12-01 18:42] audy opened #42 "Add support for amino acid sequences"
The README says that this "may be added in the future." Any updates on those plans? Would adding AA support be a large undertaking or something as simple as adding a new alphabet and scoring matrix?

[2014-12-01 21:19] #41 closed, assigned to torognes

[2014-12-01 21:22] #38 closed, assigned to torognes

[2014-12-01 21:23] #36 closed, assigned to torognes

[2014-12-01 21:24] #35 closed, assigned to torognes

[2014-12-03 15:09] torognes opened #43 "API"
Add a (Cython) API for the core functions of vsearch.

[2014-12-04 22:14] dereneaton opened #44 "add usearch's fastq_mergepairs function and options"
I had been using a function in usearch to detect overlap of paired-end reads. This used the following options which would be nice to have available in vsearch.

[code]

[2014-12-04 22:22] torognes opened #45 "Illegal instruction fault on some cpus"
vsearch 1.0.1 crashes with an illegal instruction fault on some cpus, notably AMD cpus. The problem is identified (it is due to lack of ssse3 and/or sse41 features) and a fix (that only requires sse2) is in the works.

[2014-12-06 05:39] nhoffman opened #46 "Write --help to stdout"
Please consider making --help write to stdout so that it can be piped to a pager, grep, etc. Thanks!

[2014-12-06 05:48] nhoffman opened #47 "allpairs_global option"
Hello, very excited to see this project. If you are taking requests for usearch features, I would personally find the allpairs_global option useful. See http://www.drive5.com/usearch/manual/allpairs_global.html Thanks!

[2014-12-06 11:01] #45 closed, assigned to torognes

[2014-12-06 12:43] #46 closed, assigned to torognes

[2014-12-09 22:37] #47 closed, assigned to nobody

[2014-12-13 20:41] jooolia opened #48 "Reference Chimera checking."
Hi,
I'm testing out vsearch where I was using USEARCH. I have used vsearch `uchime_denovo` with these files and it worked great.  I am running into a few problems with the `uchime_ref` command. My uchime command looked like this:

[code]

Which would run fine. I removed the log command as it is not supported in vsearch and ran:

[code]

However with vsearch I get an error that I don't understand w

[2014-12-13 22:33] torognes opened #49 "Add --log option to uchime_ref (and other commands?)"

[2014-12-14 09:40] #48 closed, assigned to nobody

[2014-12-15 15:37] torognes opened #50 "Add --quiet option"

[2014-12-15 15:47] torognes opened #51 "Reduce memory requirements for aligning very long sequences"
VSEARCH cannot currently align very long sequences (on the order of 20 000 bp) unless you have extreme amounts of memory installed. This is because VSEARCH saves the entire direction matrix during alignment and it takes 8 bytes times the longest query sequence times the longest target sequence per thread. In the future a less memory demanding alignment procedure should be implemented.

[2014-12-18 14:04] torognes opened #52 "Handle alignments of long sequences correctly"
Very long sequences, i.e. sequences longer than about 16000 bp, if using default scoring parameters, may get scores of a magnitude greater than can be held in a 16-bit signed integer, e.g. lower than -32768 or higher than 32767. Such alignments are not handled correctly by the current version of vsearch and may lead to incorrect results. This problem must be detected and solved by aligning using a

[2014-12-19 13:13] torognes opened #53 "Incorrect output from chimera detection with the --uchimeout option"
The chimera detection commands output extra lines with score 0.0000 to the file specified with the --uchimeout option for some non-chimeric sequences.

[2014-12-19 13:41] #53 closed, assigned to torognes

[2014-12-30 13:21] Verrus opened #54 "blast6out subject and query hit location."
Vsearch does not list hit location, only query orientation and subject length.
using a fasta database.
So i guess a feature request/enhancement.

[2014-12-30 21:38] torognes opened #55 "Option to output in SAM format file"
Add an option to output results to a file in SAM format: http://samtools.github.io/hts-specs/SAMv1.pdf

[2015-01-01 02:51] deprekate commented on #42
I am also in need a faster BLASTP.  I tried usearch, which worked well in prelim testing, but then I ran into the 4gb db size.  I have tried Diamond, Rapsearch, AB-blast, Lastal, and a host of others.  Nothing has worked.  So far the most promising is vsearch.

(AB-blast and lastal are only about twice as fast as blast, I need at least 10x)
(Diamond needs >100GB of ram to run, as does Rapsearch I

[2015-01-01 20:03] Verrus commented on #54
Hi Torognes,

Thanks so much for the tip, i will eleborate a little on your suggestion based on my experience.

My first run was executed with the blastout -m 8 according to these specifications.
http://www.drive5.com/usearch/manual/blast6out.html

Fields 7,8,9,10 are indeed the same fields you described as (qlo+qhi+tlo+thi)

As stated by you the global alignment positions were returned thus the l

[2015-01-05 12:12] torognes commented on #42
Ok, we'll try to add support for amino acid sequences in a future version.

[2015-01-05 12:21] torognes commented on #54
Hi Verrus,

To ensure the best compatibility with usearch we have decided to change the meaning of the userfields qlo, qhi, tlo and thi back to the definition in usearch and make them equal to fields 7-10 in the blast6out format.

In addition, as a compensation, we'll add four new userfields called qilo, qihi, tilo, and tihi which will represent the match coordinates (query start, query end, targe

[2015-01-05 12:30] audy commented on #42
Awesome. Let me know if I can help test.

[2015-01-06 18:11] macmanes commented on #52
The current STDOUT says that the sequences > 15kb in length are discarded. Is this really the case? It might be better to pass them to the output file un-clustered rather than just discarding them.

[2015-01-06 19:14] Blahah commented on #52
this is a total blocker for us @torognes - is there anything we can do to help speed it along? Can you point to the specific problem in the code?

[2015-01-06 19:18] ddooley opened #56 "Documentation - git link"
I think the git clone sentence:

"The entire repository may be cloned with git clone git@github.com:torognes/vsearch.git"

needs to be adjusted so command is: git clone https://github.com/torognes/vsearch

?

[2015-01-06 20:42] torognes commented on #56
I think the old url should work (and it works for me), but the one you suggest might work in more cases so I have changed it.

[2015-01-06 20:42] #56 closed

[2015-01-06 21:28] torognes commented on #52
I understand that the sequence length limitation is a serious problem in many cases and I am working on a solution. Just passing the longer sequences on to the output might be a possibility, but I would rather work on fixing the problem more permanently.

There are at least three problems with long sequences:

1) Long sequences may generate very high and very low alignment scores that the aligner

[2015-01-07 19:56] Verrus commented on #54
Hi Torbjørn,

No problem, modifications like these are trivial!

Good luck with the implementation!

- Verrus

[2015-01-08 12:55] torognes opened #57 "Use "=" to indicate perfect alignment in column 8 of UC output file"
For perfect alignments in UC output files: Use "="  in column 8 of UC output file, as usearch does, and not "123M" (where 123 is the length of the sequences).

[2015-01-13 11:56] torognes commented on #52
Implementing a linear space optimal aligner that should solve the problems (both the magnitude of scores and the extreme memory requirements). Hope to release a new version by the end of the week.

[2015-01-13 14:37] Blahah commented on #52
That's excellent, thanks @torognes

[2015-01-19 22:04] torognes opened #58 "Add a "cluster_abundance" command"
This clustering command should be similar to cluster_fast but cluster sequences by decreasing abundance first.

[2015-01-20 13:39] frederic-mahe opened #59 "Improve help message for clustering"
The help command (`--help`) describes the clustering commands as such:
[code]

Maybe we can change that for:
[code]

[2015-01-21 20:26] torognes opened #60 "Single Makefile, Autotools and smaller repo"
We should probably settle on one Makefile instead of four to avoid confusion.

A user packaging vsearch for debian wrote:

"At the moment (v1.0.7) VSearch is somewhat awkward in that you need to choose the
compression mode of the input files at compile time.
I'm sure they'll sort this at some point, but for now we have to compile the
whole thing three times."

Source: https://ftp-master.debian.org

[2015-01-21 21:28] frederic-mahe commented on #60
That's great! Both my computers run on Debian. They also mention that we could factorize a little bit our test data sets. It is true that cloning our git repository takes a long time the first time, even on a fast internet connection.

[2015-01-21 21:32] torognes commented on #60
Agreed.

BTW, they also made a package for swarm!

https://ftp-master.debian.org//new/swarm-cluster_1.2.19+dfsg-1.html

[2015-01-22 08:02] frederic-mahe commented on #59
Done in vsearch 1.0.8

[2015-01-22 08:02] #59 closed

[2015-01-22 10:07] torognes commented on #58
The cluster_size command was added in VSEARCH 1.0.8. The name "cluster_size" is chosen because it is consistent with naming of other options (e.g. sortbysize, minsize, maxsize, sizein, sizeout) and shorter.

[2015-01-22 10:07] #58 closed

[2015-01-22 10:07] torognes commented on #57
Fixed in version 1.0.8.

[2015-01-22 10:07] #57 closed

[2015-01-22 10:17] torognes commented on #54
Hi @Verrus !

The changes indicated above are included in vsearch 1.0.8.

The userfields qlo, qhi, tlo and thi now contain the start and end of the query and target sequences. So tlo will always be 1 and thi will always be equal to the length of the target. Unless the matching is on the reverse strand qlo will always be 1 and qhi will always be equal to the length of the query. If the match is on

[2015-01-22 10:17] #54 closed

[2015-01-22 10:28] torognes commented on #52
Hi @macmanes and @Blahah !

This problem is fixed in vsearch 1.0.8. It should now work correctly also for very long sequences.

Similar to usearch there is an --maxseqlength option to discard long sequences. The default has been reset to 50000 bp (similar to usearch), but it can be increased if needed,

Underflow or overflow in the SIMD aligner is now detected and dealt with. A linear memory align

[2015-01-22 10:28] #52 closed

[2015-01-22 10:29] torognes commented on #51
Fixed in vsearch 1.0.8 with the linear memory aligner.

[2015-01-22 10:29] #51 closed

[2015-01-22 15:54] torognes opened #61 "cluster_fast should sort by length first, then by abundance and finally by sequence identifier"
This change was promised in 1.0.8 but seems not to work.

[2015-01-22 16:19] torognes commented on #61
Abundance info was ignored apparently also for cluster_size (!) and sortbylength in version 1.0.8. Sorry!

[2015-01-22 16:20] torognes commented on #61
Fixed in VSEARCH 1.0.9.

[2015-01-22 16:20] #61 closed

[2015-01-23 10:52] torognes opened #62 "Ignore abundance input for clustering and dereplication if sizein not specified"
In version 1.0.9 a bug was introduced that makes vsearch always take abundance information in the input files for clustering and dereplication into account when writing the combined abundance after clustering or dereplication (with sizeout). It ignores the `--sizein` option. This has to be reversed.

[2015-01-23 16:32] torognes commented on #62
Fixed in 1.0.10.

[2015-01-23 16:32] #62 closed

[2015-01-27 08:04] jmeppley opened #63 "Seg Fault or Cannot allocate enough memory on long sequences"
I'm getting Segmentation Fault (on Ubuntu) or "Cannot allocate enough memory" errors (on Fedora) clustering a small set of genes that include a couple long (>15Kbp) sequences. The servers have plenty of RAM (>70GB) available.

I get the same errors using sorted reads and --cluster_smallmem. It's only the longest sequence (17,502 bp) that seems to be causing problems.

I realize that this is slight

[2015-01-27 08:07] jmeppley commented on #63
On Ubuntu, the output looks like this:
[code]

[2015-01-27 09:13] frederic-mahe commented on #63
Thanks for providing a minimal test case. Version 1.0.8 introduces a new linear memory aligner for alignment of sequences longer than 5,000 nucleotides.
[code]
Please feel free to comment if the problem persists.

[2015-01-27 12:18] torognes commented on #63
Yes, @frederic-mahe is right. This is exactly the type of problems that we intended to solve with version 1.0.8 and later. Please try version 1.0.10. VSEARCH is not designed for long sequences (>5000bp), and might be slow in some cases, but it should at least work correctly.

[2015-01-27 18:36] jmeppley commented on #63
Indeed it works on the newer versions (I've tested 1.0.9 and 1.10.0 on my system). I hadn't noticed the more recent releases before. The [official releases page](https://github.com/torognes/vsearch/releases) only goes through 1.0.7.

Also, the link in the README.md file to 1.10 is broken:
[code]
...the bin folder only goes through version 1.0.9.

Thanks for the help!

[2015-01-27 18:52] torognes commented on #63
Yes, sorry, I forgot to make a release for the latest version. It's available now. The link in the README.md should also be fixed now. There is a 1.0.10 version in the bin folder, but perhaps not where you'd expect it. You'll found it between 1.0.1 and 1.0.2.

 Thanks for pointing out the errors!

[2015-01-27 18:52] #63 closed

[2015-01-28 18:22] frederic-mahe opened #64 "Dereplication: option to use hash values as sequence names"
During dereplication, strictly identical sequences are grouped and receive the name of the first sequence of the group. Arguably, one can consider that sequence names loose their meaning during dereplication. Therefore, it could be interesting to offer an option that would give more informative names to sequences.

One possibility is to rename sequences using their hash values. When doing so, a gi

[2015-01-28 22:26] torognes commented on #64
That's a good idea that should be easy to implement.

A related issue: The sortbysize and sortbylength commands support a `--relabel` option that will put a new label on each sequence. The new label contains a specified prefix followed by a number (1, 2, ...). The `--relabel` option could be extended to dereplication as well.

What about `--relabel_hash sha1` and `--relabel_hash md5`? It could be

[2015-02-05 23:03] torognes commented on #55
Implemented in VSEARCH 1.0.11.

[2015-02-05 23:03] #55 closed

[2015-02-05 23:19] torognes commented on #60
The size of the repo should be reduced. Perhaps all binaries could be removed from the bin folder, at least the non-current ones. Binaries could be distributed in as part of the release in GitHub.

[2015-02-06 02:46] dereneaton opened #65 "x permissions on binaries"
Not sure if this is a bug, or intentional, but the linux binaries that can be downloaded from the 'releases' link are set with only read-write privileges. Of course, it's easy to chmod this to avoid the "permission denied" error. However, since vsearch calls are sometimes embedded from within pipelines that utilize it, this error may not always be reported clearly, and for users that are not famil

[2015-02-06 08:37] torognes commented on #65
Thanks for reporting this issue. It seems like all binaries in the bin have the executable permissions on, but the files downloaded as part of the release do not have them. I think we need to put the executables in a zip or gz file to leave the executable permission on.

With the next release I think I will reorganize the repo (remove the bin, test, testbed and data folder) and make a separate com

[2015-02-06 15:45] torognes opened #66 "Improve reading of FASTA files, including very long header lines"
Some NCBI databases in FASTA format contain long FASTA header lines with multiple entries separated by Ctrl-A characters (hex 0x01). VSEARCH currently does not accept Ctrl-A characters in FASTA headers, but aborts with a fatal error. These characters should probably be accepted.

[2015-02-06 21:03] torognes commented on #66
See question on the VSEARCH Forum:
https://groups.google.com/forum/#!topic/vsearch-forum/EvrnxwylE10

The problem does not seem to really be about illegal characters in FASTA headers, but really about long FASTA headers.

[2015-02-06 21:23] torognes commented on #66
This problem is temporarily fixed in VSEARCH 1.0.12. This version will accept FASTA header lines up to 1MB long. A fatal error will occur if a longer header line is detected. I think the longest header lines in the NCBI nt database is about 500kB.

A better and more permanent solution requires extensive changes to db.cc and query.cc to properly handle FASTA header lines of virtually unlimited leng

[2015-02-07 06:56] bingo11 opened #67 "Ambiguity in consensus alignment"
Not sure whether there is an option to modify the consensus behavior but it seems that, in
cluster-fast, the reported consensus is chimeric.

Is the issue can be reproduced using the following toy example (seq 2. aligns with seq 1 in reverse strand):

ATGATCGTGTGATCGTGTAGCTGNNNNNNNNNNTGCTGTAGCTGTGTAGCTGTAAAATGTGACTGTGCTGTAGCTG

ATGTAGTGTGATCGTGTGATCGTGTAGCTGTGCAGCTACAGCACAGTCACATTTTACAGCTACACAGCTA

[2015-02-07 11:55] torognes commented on #67
Thanks for reporting this bug. It seems like hits on the reverse strand are incorrectly handled in the multiple sequence alignment and consensus sequence code. Sorry for the inconvenience. I will look into this problem very soon.

[2015-02-07 22:53] bingo11 commented on #67
Thanks for the quick response! Please let me know if I can help in any way.

[2015-02-09 19:19] nhoffman opened #68 "adopt semantic versioning"
This is a great project - I am in the process of incorporating it into research pipelines, and at some point will consider adding it to pipleines that we use for production clinical assays. It would be extremely helpful to adopt some sort of semantic versioning to distinguish bugfix releases from those that change the API.

There are obviously lots of ways to implement a semantic versioning system

[2015-02-10 14:03] frederic-mahe commented on #64
Extending to sorting is a good idea. The new option `--relabel_hash sha1` should take into account the `--sizein` and `--sizeout` options.

Yes, sequences should be submitted to hash functions unwrapped. I think all symbols are upper-cased internally by vsearch (except when soft masking is activated). So hashing should be done on upper-cased strings.

[2015-02-10 14:35] frederic-mahe commented on #68
Thanks for your suggestion Noah,

I was reading on the topic of semantic versioning recently (http://semver.org/) and it seems very reasonable to adopt a predictable versioning system.

However, it seems to me that there are changes that are difficult to communicate through the numbering system only. For example, if a default value changes, the user interface is not modified but results will be di

[2015-02-16 04:03] bwawrik commented on #42
I totally second that - i.e. AA support would be very useful.

[2015-02-17 15:07] VascoElbrecht opened #69 "malloc: *** error for object 0x7ff2bad003a0: pointer being freed was not allocated"
Dear Torbjørn,

when using "cluster_fast" i get the following error at the end of the run. It looks like all files are created correctly, but this still worries me. Any suggestions?Am I doing something wrong? Thank you = )

Copied from the Terminal:

Vascos-MBP:1 testing pleco LuckyLion$ vsearch -cluster_fast VA_pleco_all_noclip+1.fasta -id 0.97 -sizeout -msaout noclip_VA -consout VA_Pleco_consens

[2015-02-17 15:33] frederic-mahe commented on #69
I was able to reproduce the error using the GNU/Linux version of vsearch and the BioMarKs dataset (or a smaller version of it):
[code]

[2015-02-17 15:43] xflouris commented on #69
Running the biomarks dataset with valgrind yields the following. Probably the cigar string is not computed in the alignment.

==18343== Invalid free() / delete / delete[] / realloc()
==18343==    at 0x4C29E90: free (vg_replace_malloc.c:473)
==18343==    by 0x40C66C: cluster(char*, char*, char*) (cluster.cc:1170)
==18343==    by 0x401C00: main (vsearch.cc:1711)
==18343==  Address 0x5ecadf0 is 0 byt

[2015-02-17 16:02] frederic-mahe commented on #69
Yes, I have seen the same thing with valgrind. GDB seems to point in the same direction:
[code]

[2015-02-17 16:22] xflouris commented on #69
just pushed a patch that seems to fix the issue (and also a memory leak), but  I'd feel more confident if Torbjørn has a look as well as I'm not familiar with this part of the code.

[2015-02-17 18:13] torognes commented on #68
I like the idea and intend to follow it.

[2015-02-17 18:54] frederic-mahe commented on #69
I have been playing with gdb and it seems that the source of the problem is in the msa function call (line 1155 of cluster.cc), not in the free loop line 1167. I'll try to get something more precise if I can.

[2015-02-17 19:05] frederic-mahe opened #70 "Error in `vsearch': corrupted double-linked list"
While trying to bisect another bug, I triggered this one:
[code]

This is possibly linked to the issue 69 (gdb backtrace is the same):
[code]
Valgrind also incriminates the line 239 of msa.cc:
[code]

[2015-02-17 20:27] torognes commented on #70
Is this with or without the patch from @xflouris?

[2015-02-17 20:37] torognes commented on #70
I got the same error without @xflouris 's patch so I guess it was without it. It does indeed seem to be the same problem.

[2015-02-17 20:39] torognes commented on #69
@xflouris your patch seems to work well. The cigars are free'd both in msa.cc (line 238-239) and in cluster.cc (line 1172-1174). I think it is more logical that they are freed in cluster.cc than in msa.cc, so I'll reverse the changes, bump the version number and make a new release.

[2015-02-17 21:09] torognes commented on #70
Fixed in VSEARCH version 1.0.13.

[2015-02-17 21:09] #70 closed

[2015-02-17 21:09] torognes commented on #69
Fixed in VSEARCH version 1.0.13.

[2015-02-17 21:09] #69 closed

[2015-02-17 21:15] torognes commented on #66
VSEARCH 1.0.13 increases the allowed line length to 4MB.

[2015-02-17 22:20] torognes commented on #67
This problem should be fixed in VSEARCH version 1.0.14.

[2015-02-17 22:20] #67 closed

[2015-02-18 09:32] torognes opened #71 "Error in calculation of the identity using --iddef 3 (MBL)"
There is an error in the calculation of the identity using --iddef 3 (MBL). The denominator should be the length of the longest sequence, not the shortest. See searchcore.cc lines 229-231.

[2015-02-18 16:39] torognes opened #72 "Integrate patches from Debian"

[2015-02-18 16:54] mdehollander opened #73 "Status taxonomy assignment?"
Hi,

I read at that you are working on a way to assign taxonomy to reads with vsearch: https://github.com/torognes/swarm/issues/45 and https://github.com/torognes/vsearch/issues/34. What is the status? Would it also do a LCA or something like that?

It would also be very nice if it would work with the SILVA database.

[2015-02-18 22:55] torognes commented on #71
Fixed in version 1.0.15

[2015-02-18 22:55] #71 closed

[2015-02-19 08:32] frederic-mahe commented on #72
I've integrated the Debian modifications regarding the man page. The problem is apparently coming from the `--option` notation. The dashes need to be escaped `\-\-option` to avoid some unicode issues when copy-pasting snippets from the man page.

[2015-02-19 08:35] torognes commented on #72
The patches are listed here:

http://anonscm.debian.org/viewvc/debian-med/trunk/packages/vsearch/trunk/debian/patches/

[2015-02-19 12:21] frederic-mahe commented on #73
Hi MaTIZ,

I've been experimenting with it and it works quite well. however, the way I do it is rather specific. I am working on 18S rRNA (so eucaryots, not bacteria) and I use the database PR2. The advantage of PR2 is that it offers reference sequences clipped using the primers I am working with. I then use `vsearch` to compute global pairwise alignments with simple definition of identity (`--idd

[2015-02-19 13:30] torognes commented on #72
I've integrated the patches to the code. Only changes to the Makefile(s) remain.

[2015-02-19 13:53] frederic-mahe commented on #72
Hi Torbjørn, you've forgot to update the version history in the manpage. I'll let you do it.

[2015-02-19 14:04] torognes commented on #72
Eh, I always forget something... I'll include it in the next release later today. Thanks for the reminder.

[2015-02-19 15:43] ODiogoSilva commented on #42
I third that!

[2015-02-20 15:36] torognes commented on #50
VSEARCH 1.1.0 supports options --quiet and --log

[2015-02-20 15:36] #50 closed

[2015-02-20 15:38] torognes commented on #49
VSEARCH 1.1.0 supports options --quiet and --log. The log file is not identical to that produced by usearch, but usually contains the same information. All fatal, warning and informational messages are written to the log. It also contains information about usage of memory and time.

[2015-02-20 15:38] #49 closed

[2015-02-23 13:50] avilella opened #74 "cluster input sequences shorter than 32nt"
Hi @torognes ,

I am runnning vsearch cluster on a set of 10000 DNA sequences, some of which are shorter than 32 nucleotides. The clustering seems to behave nicely and consistently: if I run it over an `id` parameter sweep of 0.99 to 0.50, it seems to reach a stable level of 280 clusters for `id=90`:

[code]

About three quarters of my input sequences are shorter than 32, and I would like to be ab

[2015-02-23 13:56] torognes commented on #74
Hi @avilella, if you use the option "--minseqlength 1", all sequences will be included.

[2015-02-23 14:37] avilella commented on #74
wicked, thanks!

[2015-02-23 14:37] #74 closed

[2015-02-24 10:12] avilella opened #75 "cluster_fast and msa output for each of the clusters"
Hi @torognes ,

What is the best way to do both clustering and msa of each cluster with vsearch?

I am currently running the clustering step like this (perl wrapper):
[code]

What I would like to obtain, is the `--msaout` for each of the clusters that come out of the clustering step.

Currently, I can do it one by one with a command line like this:

[code]

What is the best way to obtain the msa f

[2015-02-24 10:55] avilella opened #76 "segfault when running cluster_fast with msaout"
Hi @torognes ,

I am testing `--cluster_fast` with `--msaout` and for some of my clusters, I get segfaults like the one below (input `test.fasta` is below):

Running with this command:

[code]

I get:

[code]

[code]

[2015-02-24 10:59] torognes commented on #75
Hi @avilella,

You can it all in one step, like this:

`$cmd = "$vsearch_exe --minseqlength 1 --clusters $prefix.$id.$suffix --cluster_fast $inputfile --id $id --centroids vsearch_id.$id --msaout msa.fsa";`

All the multiple sequence alignments will be written to one specified file (here: msa.fsa). There is a blank line between the clusters. The first sequence in each cluster, the centroid sequenc

[2015-02-24 11:02] torognes commented on #76
Hi @avilella,

I think this problem was fixed in version 1.0.13. Please the latest version, version 1.1.1.

- Torbjørn

[2015-02-24 11:02] #76 closed

[2015-02-24 11:05] avilella commented on #76
Cool, I will try again. Sometimes the error is a strace like this:

======= Memory map: ========
00400000-00445000 r-xp 00000000 08:42 15341323                           /opt/foo/bar/thirdparty/vsearch-1.0.10/bin/vsearch-1.0.10-linux-x86_64
00645000-00649000 rw-p 00045000 08:42 15341323                           /opt/foo/bar/thirdparty/vsearch-1.0.10/bin/vsearch-1.0.10-linux-x86_64
00649000-0074b0

[2015-02-24 11:22] avilella commented on #75
I see. And that would be equivalent to:

1. Running without `--msaout`:

$cmd = "$vsearch_exe --minseqlength 1 --clusters $prefix.$id.$suffix
--cluster_fast $inputfile --id $id --centroids vsearch_id.$id";

2. For each of the cluster output files, then run with same `--id $id` and
with `--msaout file.msa`:

$cmd = "$vsearch_exe --minseqlength 1 --msaout $file.msa --cluster_fast
$file --id $id";

W

[2015-02-24 13:54] torognes commented on #75
yes, it should be equivalent.

[2015-02-28 10:06] frederic-mahe commented on #68
I've added a milestone in the change log to indicate when we started to follow semantic versioning. Feel free to change it if you don't like it. I think we can close that issue now.

[2015-03-04 18:48] colinbrislawn commented on #73
Are you searching your database using your swarm centroids or all sequences in each swarm/OTU?

Something like finding most specific taxonomic level all hits share? There are different ways of finding the LSA and the hits would be greatly changed by your search parameters...

[2015-03-14 15:23] frederic-mahe opened #77 "Segmentation fault when using --uchime_denovo on a large fasta file (9.3 GB)"
Sorry, it's always during weekends...

That file triggers a segmentation fault during a *de novo* chimera detection. Note that it is not a problem of memory exhaustion, I tried on a node with plenty of memory.
[code]

For the above command, I used the official binary. A fresh compilation gives a slightly different message:
[code]

Maybe the problem is coming from an integer overflow in searchcore.

[2015-03-17 23:05] #75 closed

[2015-03-17 23:37] torognes commented on #77
I think this should be fixed in version 1.1.2. Embarrassing bug that applied to searches in large datasets.

[2015-03-18 07:30] torognes commented on #77
The problem is not fully resolved. The progress indicator is wrong.

[2015-03-18 10:00] torognes commented on #77
Fully resolved in 1.1.3 I hope.

[2015-03-18 10:00] #77 closed

[2015-03-19 11:53] frederic-mahe opened #78 "Chimera detection progress indicator"
Hi Torbjørn,

when using the new `vsearch 1.1.3` on the big dataset, there seems to be a problem with the chimera detection (progress indicator is going crazy):
[code]
I used the following options:
[code]
It could be a bug, or a dataset riddled with chimeras?

[2015-03-19 12:08] torognes commented on #78
This was exactly the bug I thought I had fixed in 1.1.3, but I cannot have tested it properly. Are you sure this is not 1.1.2?

[2015-03-19 12:16] torognes opened #79 "Support for multiple databases"
E.g. --db db1,db2,db3

[2015-03-19 12:31] frederic-mahe commented on #78
I think I am using v1.1.3, but for some reason, I cannot be sure. I double-checked the targeted version and relaunched the computation, just in case. We have to wait for the computation to progress.

[2015-03-19 16:04] frederic-mahe commented on #78
Everything seems normal now. It was a false alert. Sorry!

[2015-03-19 16:04] #78 closed

[2015-03-20 09:17] frederic-mahe commented on #73
I used to do the taxonomic assignment for all my amplicons and use that information as a way to check the quality of the OTUs produced by swarm. I now completely trust swarm results, and I only assign OTU representatives. I use a simple approach to compute the last common ancestor: strict consensus. If an amplicon is equally distant to references assigned to genus/speciesA and genus/speciesB, it w

[2015-03-24 12:36] bbuchfink commented on #42
May I say that Diamond does not require >100 GB of RAM. I ran it successfully on machines with 4 GB of RAM using the full NR database. Feel free to contact me for more info.

[2015-03-25 19:04] mirjalil opened #80 "Generating cluster files"
So when I generate clusters, I see thousands of files generated where it becomes tedious to merge these files and assign cluster IDs to each sequence!

I think it would be very help ful if instead of generating thousands files, the program outputs one file that contains sequence identifier (in the same order as the input sequence files)

For example like this output (sequence identifier + cluster

[2015-03-25 19:18] frederic-mahe commented on #80
Hi,

It seems you are using the `--clusters` option. You should try the options `--centroids` or `--uc` instead.

[2015-03-25 19:25] #68 closed

[2015-03-25 20:31] mirjalil commented on #80
I tried both --clusters and --centroids, but --centroids only gives the centroids of each cluster! And the output of --uc is not understandable!

Therefore, I wrote a python script to organize the clusters in a new file! I can share it via this repository so that other people can also use it, if you think that's something more people may need!

[2015-03-25 22:00] torognes commented on #80
If you use the --uc option and look at the lines starting with H and S, you will have the cluster number in the second column and the sequence id in the ninth column. See the usearch documentation for details: http://drive5.com/usearch/manual/opt_uc.html

[2015-03-26 09:06] frederic-mahe commented on #80
You can get the information you are looking for from the `--uc` file quite easily:
[code]
Note that for several reasons we cannot force results in the same order than the input order: one reason being that the uclust algorithm sorts input sequences by decreasing length before clustering. Multi-threading also is a source of variability in output order.

[2015-03-26 23:56] #80 closed

[2015-03-26 23:57] mirjalil commented on #80
Thanks! That is useful!

[2015-04-02 20:21] annaship opened #81 "Space in a header line"
Dear VSEARCH developers,

Thank you for developing VSEARCH. We were looking for a good replacement to usearch for a long time!

My problem now is that in Illumina fasta files there are spaces in a header line and .uc file made by vsearch uses only the part in front of the space. So my names file and .uc file have different headers as a result.

Do you think you will change that behavior to be the

[2015-04-03 07:09] frederic-mahe commented on #81
Dear @annaship,

maybe the `--notrunclabels` would solve your problem?
[code]

[2015-04-03 15:08] #81 closed

[2015-04-03 15:08] annaship commented on #81
Thank you

[2015-04-08 14:51] torognes opened #82 "Error "No output files specified" when only samout is specified"
When only --samout is given,

vsearch --cluster_fast q.fa --id 0.97 ---samout q.sam

then with 1.1.3 "Fatal error: No output files specified", but
if --alnout is added,

vsearch --cluster_fast q.fa --id 0.97 --alnout q.aln ---samout q.sam

then no error and a sam file is written.

[2015-04-09 07:48] torognes commented on #82
Report from a user:

this gives no error:

vsearch --usearch_global q.fa --db db.fa --id 0.97 --samout q.fa
--msaout q.msa

But removing --samout and leaving --msaout gives
"Fatal error: No output files specified". Probably this is
because there is no --msaout for search, but then maybe
there should always be error.

[2015-04-09 07:49] torognes opened #83 "Wanted: samout with search, not just clustering"

[2015-04-10 20:39] dereneaton commented on #65
Just making a note that I had a pyrad user run into this problem again using the latest 1.1.3 download. A lot of people forget to check the permissions when sticking vsearch into a pipeline. Thanks.

[2015-04-15 12:14] torognes commented on #65
Sorry for not fixing this issue. I plan to fix it with the next release.

[2015-04-16 19:27] colinbrislawn opened #84 "--relabel does not work consistently"
Good afternoon,

The option `--relabel` does not consistently relabel reads in the output files.
Given the following file called `toy.fna`:
[code]

Dereplication DOES NOT relabel:
`vsearch --derep_fulllength toy.fna --sizein --sizeout --output toy.derep.fna --relabel test_`
Sorting DOES relabel:
`vsearch --sortbysize toy.fna --sizein --sizeout --output toy.sort.fna --relabel test_`
Clustering DOES

[2015-04-16 19:58] frederic-mahe commented on #84
Hi @colinbrislawn,

`--relabel` is for the moment only available for sorting. Extending the support to clustering would impact several output files, with different formats. I'll let Torbjørn judged if it is doable.

For dereplication, we had in mind to offer an option to rename the sequences using hash values. Maybe `--relabel` could be added to the list?

[2015-04-19 16:04] edgardomortiz opened #85 "Problem with repeats when clustering WGS reads"
Hello,
I am clustering NGS reads from a Whole Genome Shotgun project and I am observing very different outputs from vsearch and usearch. The input file is a subsample of the total of reads that contains 8 million reads.
When I run `vsearch -cluster_smallmem input.fasta -id 0.3 -centroids vsearch_output.centroids -usersort -strand both -sizein -sizeout`, vsearch returns a file with 20955 centroids,

[2015-04-20 11:54] torognes commented on #85
@edgardomortiz, thanks for reporting this important issue.

I think the main problem here is that there needs to be a certain number of UNIQUE k-mers (k=8 by default) shared between the sequences for vsearch to find any similarities. Since the sequences contain just a repeated 7-mer (TTTAGGG or its reverse complement) there are actually no unique k-mers at all in the first 7 sequences and the appr

[2015-04-22 21:18] edgardomortiz commented on #85
Thanks for the advice, I will do just that

[2015-04-24 17:07] colinbrislawn commented on #14
Any updates on this? I have used vsearch as part of a team which is ramping up towards final analysis and publication. I'm uncertain if I should cite your software as 'personal communication', cite your upcoming preprint, or repeat my analysis using USEARCH.

Thank you!

[2015-04-24 18:05] meren commented on #14
Of course it doesn't make the need for a pre-print any less urgent (smiley), but in my opinion, it is pretty legitimate to reference GitHub repositories as reference.

Reviewers may ask for some validation, in that case I would simply analyze a small subset of my samples with both to show how comparable the two approaches are.

My 2 cents.

[2015-04-27 12:40] torognes commented on #14
The writing is (as usual) going more slowly than anticipated so a preprint and submission is probably still several months away. In the meantime, please cite the [GitHub repo](https://github.com/torognes/vsearch), if possible. Each release actually also has a [DOI](http://en.wikipedia.org/wiki/Digital_object_identifier) on [Zenodo](https://zenodo.org/), if that helps. The current release, version

[2015-04-27 13:25] torognes opened #86 "Option to not ignore terminal gaps when computing consensus"
A user has asked for this option:

When using "-cluster_fast" VSEARCH builds consensus sequences considering terminal gaps in the alignment, so a lot of relevant sequence information on the flanking regions is lost:

Example:
[code]
Could you add an option that builds the majority consensus but ignores positions wich have no coverage? so that the consensus sequence is:
[code]

[2015-04-28 18:06] jooolia opened #87 "Chimera search with translated protein sequences?"
Would it be possible to add an option for using the chimera search with protein sequences? Even if you could turn off the validation of sequences somehow that would allow you to not have characters stripped?

Tested it out and got this output:
[code]

[2015-04-28 22:58] colinbrislawn commented on #87
Currently vsearch does not support anything involving protein / amino acid sequences.
See torognes/vsearch#42

I'm also curious in what context would you search a protein for chimeras. I have not heard of that before and am interested in learning more.

[2015-04-29 00:35] jooolia commented on #87
Ok! Yes sorry I looked too quickly at the issues.

I've been using it when I have a protein database used for a reference and when the sequences code for proteins. Data is more reduced at this point too, so was also an attempt to be efficient.

[2015-04-29 04:41] colinbrislawn commented on #87
Ah ok...

I understand that protein search would be really useful.
Protein clustering could be cool as well for data set reduction / summarization.

However, I think that chimera checking is only relevant for DNA sequences...

In a study using the 18S or 16S rRNA gene, PCR primers are used to target that specific region and amplify it (leading to the name amplicon). But PCR is not perfect; during

[2015-04-30 13:59] torognes commented on #87
Thank you for the suggestion, but, sorry, support for chimeras in amino acid sequences will not be prioritised.

[2015-04-30 13:59] #87 closed

[2015-05-02 04:53] colinbrislawn commented on #84
Hello there,

Thanks for providing an update on this issue.

In the last several weeks, the developer of usearch has added support for `-relabel` to the `cluster_otus` command of the [uparse pipeline](http://drive5.com/usearch/manual/cmd_cluster_smallmem.html). (This is interesting! This step was originally done using the independent python script `fasta_number.py`. Once vsearch added this native

[2015-05-03 09:49] frederic-mahe commented on #84
Hi @colinbrislawn,

Exactly, that's why in my own analyses I drop the old read names and replace them with a more informative name derived from the sequence itself: hash value, always the same for a given sequence, (almost) always different for different sequences.

You are right, extending the possibility to use `--relabel` to dereplication and other functions, like usearch recently did, would be

[2015-05-03 17:46] colinbrislawn commented on #84
Thank you @frederic-mahe! I look forward to this new feature.

Thanks for fixing my typo as well. I'm quite bad at spelling.

[2015-05-05 08:15] torognes commented on #84
Hi @colinbrislawn, we'll try to support relabel on more commands in the future. There are a lot of suggestions now for things to be done. First of all we need to finish our manuscript. I will probably have more time in the fall than in the spring (no teaching), so I hope to get some programming done then.

Just a note on usearch and relabel: relabel was an option to the sortbysize and sortbylength

[2015-05-09 16:57] bgruening opened #88 "Vsearch needs a Galaxy wrapper"
This issue is to let you know that the Galaxy community is trying to get this solved: https://github.com/galaxyproject/tools-iuc/tree/vsearch

[2015-05-20 11:42] cboursnell opened #89 "Consensus output in clustering produces empty fasta sequences"
When using this option
` --consout FILENAME          output cluster consensus sequences to FASTA file`
the fasta file can contain a lot of empty sequences that have a header, but no bases. This is even when using a high `--id` like `0.95`.
If no consensus can be found for whatever reason at least the centroid should be written out.
The number of blank sequences seems to depend on the definition of

[2015-05-21 07:53] torognes commented on #89
Thanks for reporting this problem. I will look into it soon. If you have a small dataset that will reproduce this error, I will appreciate if you could send it to me.

[2015-05-21 07:53] torognes commented on #88
Thanks!

[2015-05-21 08:00] bgruening commented on #88
@torognes this is now committed https://github.com/galaxyproject/tools-iuc/tree/master/tools/vsearch
and part of the Galaxy ToolShed: https://toolshed.g2.bx.psu.edu/view/iuc/vsearch/

[2015-05-21 08:00] #88 closed

[2015-05-21 09:31] frederic-mahe commented on #88
Thanks, vsearch's documentation has been updated.

[2015-05-28 08:59] torognes commented on #89
Another user also reported this problem and I have received sample data to reproduce the error.

[2015-06-03 14:25] torognes opened #90 "Dereplication based on prefixes of sequences"
Similar to derep_prefix in usearch.

http://www.drive5.com/usearch/manual/dereplication.html
http://www.drive5.com/usearch/manual/cmd_derep_prefix.html

[2015-06-03 16:46] frederic-mahe commented on #90
Greg Caporaso suggested to use a [Trie](https://en.wikipedia.org/wiki/Trie). We investigated that data structure while working on swarm, and I also think it would be a suitable approach. The prefix dereplication process would then require the sequences to be sorted by decreasing length.

[2015-06-03 17:50] wasade opened #91 "Unable to build on OS X 10.10.3"
Full output below, including g++ and xcode version information. Please let me know if any other details would be useful to have.

[code]

[2015-06-03 18:19] torognes commented on #91
Thanks for reporting this bug.

It compiles fine on my box. I'm using OS X 10.10.3 as well, but I have Xcode 6.3.2 (buidl 6D2105) and g++ is based on clang-602.0.53.

[code]

However, I think the problem is the string.h file in the vsearch src folder. That name was very unfortunate and probably causes the trouble due to some kind of conflict with the standard c header file with the same name. It i

[2015-06-03 18:31] wasade commented on #91
Thank you, and that did it! Issued the commit for you :) I'm sure there are other more interesting things to be dealing with.

[2015-06-03 18:32] torognes commented on #91
Thanks a lot!

[2015-06-03 18:35] #91 closed

[2015-06-03 21:08] wasade commented on #90
On biocore/scikit-bio#937, @gregcaporaso also suggested [marisa-trie](https://code.google.com/p/marisa-trie/) as an underlying library for scikit-bio (although if this happens, scikit-bio would interface via the Python/Cython [library](https://pypi.python.org/pypi/marisa-trie))

[2015-06-05 16:14] frederic-mahe commented on #44
That [Biostar topic](https://www.biostars.org/p/144950/) lists C/C++ open source software parsing or manipulating FASTQ files. Maybe there are some good ideas to grab there.

[2015-06-05 17:58] colinbrislawn commented on #44
Hello @frederic-mahe!

Oh there are lots of good processing tools. I get good use out of [ea-utils](https://code.google.com/p/ea-utils/) and there is a compairson of tools [here](https://www.biostars.org/p/85929/#86082).

I believe USEARCH is so successful because it does _literally everying_ you could want to do with NGS data. This is why it's the only closed-source programs in my pipeline. VSEAR

[2015-06-05 18:06] xflouris commented on #44
Hi Colin,
I'm currently re-structuring the PEAR source code to make it manageable, as it was developed more as a toy implementation by several people with different coding styles. We also have a new, non-heuristic and exact way of computing the posterior quality scores for the merged part of the reads, which will be available in the next version of PEAR (0.9.9).

Once this is done, it will be very

[2015-06-05 18:09] torognes commented on #44
@xflouris, that sounds brilliant!

[2015-06-05 18:48] colinbrislawn commented on #44
@xflouris Wow that's even better than I expected! I especially appreciate this team's dedication to using exact algorithms. I'm looking forward to it!

[2015-06-14 00:33] tseemann opened #93 "I've made a homebrew package for vsearch"
FYI - I've made a homebrew package for vsearch

https://github.com/Homebrew/homebrew-science/pull/2409

The main hacking was around the need for ../zlib and ../bzip2 which I had to ensure pointed at the Homebrew locations, but otherwise a clean compile.

[2015-06-14 19:26] torognes commented on #93
Great, thanks!

[2015-06-18 13:16] torognes opened #94 "Sequence profile of clusters"
A user requested a sequence profile (a matrix with base counts in each column) in addition to the consensus sequence from a multiple alignment of sequences in a cluster.

[2015-06-21 02:16] #93 closed

[2015-06-21 06:36] torognes commented on #93
I've added a not about it in the README.md.

[2015-06-21 22:49] tseemann commented on #93
That is kind of you, thank you.

[2015-06-23 01:18] cnjr2 opened #95 "usearch_global sequences that contain repeated kmers"
I have been running into some unexpected behaviour and I think it is related to #85 (repeats within sequences).

My reads file `derep_reads.fasta` contains many repeats of the following short sequences:
[code]
My `db.fasta` contains all the centroids that I determined previously with `--cluster_size` and there seemed to be no problems:
[code]
I have tried to match the reads to the centroids with `

[2015-06-23 19:30] frederic-mahe commented on #95
Thanks for your report @cnjr2.

could it be an automatic soft masking? do you get the same results with `--qmask none` and `--dbmask none`?

[2015-06-23 19:46] cnjr2 commented on #95
Thank you for your help!
I have now tried soft masking the db- and query-sequences, but it seems like there are still no matches found... It does not give me any error messages or warnings of any sort, so I do not know what other information I could provide you with.

[2015-06-23 20:01] frederic-mahe commented on #95
Then, it may be an implementation problem. Maybe Torbjørn will have an idea?

[2015-06-23 20:30] cnjr2 commented on #95
UPDATE:
The example I gave above is a simplification of the original dataset that I used, for which I reported the  unexpected behaviour. I have now run the example with exactly the sequences provided above (I should have mentioned this before - sorry).

Contrary to before, I now get a match for `centroid1`, but only if it is a perfect match (see `read3` in the output `mappings.sam`). `read1` and

[2015-06-24 08:08] torognes commented on #95
Hi @cnjr2. I think you are right that the problem is related to issue #85. The first three reads all contain repeats of the sequence TAGGTA. Read 2 and 3 have some small differences. The problem is that vsearch will initially just look at the unique 8-mers in the sequences, and in this case there are very few unique 8-mers in the first 3 sequences. To find matches, at least six unique 8-mers must

[2015-06-24 09:04] cnjr2 commented on #95
Thank you.

[2015-06-26 11:04] pescobar opened #96 "question about compile time optimizations"
Hi,

while reviewing the makefile I have seen this line:

[code]

I am not sure but I think those options will make the binary run in any cpu newer than core2 (core2 was released before 2010) but the binary won't take advantage of the features in modern cpus.

Is there any reason why not switching this line to something like this one so the compiled binary uses all the features in the cpu where it

[2015-06-26 17:47] torognes commented on #96
Hi @pescobar
Thanks for your suggestion. There is a requirement for SSE2 in the alignment code, hence the -msse2 option. But otherwise I agree with you - it would be better to optimize or tune it for the cpu on the system it is compiled on. I will make the changes to the makefile in the next release that will probably be out in a week or two. You can safely make this change on your own system.

[2015-07-06 11:49] torognes commented on #89
I have investigated the issue and it seems to happen for instance in cases where there is one long centroid sequence and several shorter sequences that rarely overlap each other. The most common symbol will then be a gap symbol all over the alignment. This leads to a consensus containing only gap symbols, which will subsequently be removed. We are then left with an empty sequence. This seems to be

[2015-07-06 13:28] torognes commented on #89
The consensus symbol in a column will be a gap symbol if at least half the sequences contain a gap in that column. Otherwise the consensus symbol will be the most common symbol of A, C, G or T in that column. If two symbols are equally common, the first of those symbol in alphabetical order will be chosen.

[2015-07-06 13:36] torognes commented on #89
Note that consensus sequences are written both with the `--consout` and `--msaout` commands. Gaps are removed in the consensus sequences written by `--consout` but remain in the consensus sequences written by `--msaout`.

[2015-07-06 14:23] macmanes opened #97 "Error in `vsearch': double free or corruption"
when using vsearch v1.0.12_linux_x86_64

[code]

output

[code]

note that a file was produced, but it had 'empty sequences'

[code]

cc @lkordy

[2015-07-06 14:26] torognes commented on #97
This bug was fixed in vsearch 1.0.13. Please use the latest version (currently 1.1.3) of vsearch.

[2015-07-06 14:28] macmanes commented on #97
argh.. Sorry. Will do.

[2015-07-06 14:28] #97 closed

[2015-07-06 14:32] frederic-mahe commented on #97
@macmanes, thanks for the detailed report though!

[2015-07-06 14:36] torognes commented on #97
Yes, thanks, @macmanes ! Not always easy to know which bugs have been fixed. :)

[2015-07-07 10:24] frederic-mahe commented on #89
Our definition of the consensus seems to be the same than the one officially used by usearch: http://www.drive5.com/usearch/manual/consensus.html. I am not sure we should change anything here. When a multiple sequence alignment is gappy enough to yield an empty consensus, it would be ill-advised to use the seed in lieu of consensus. In fact, empty consensus sequences could be used to identify and

[2015-07-10 00:18] colinbrislawn commented on #14
Any updates on this paper? I have had great success using this software, but I just had to avoid it on a project because [Science explicitly disavows unpublished methods](http://www.sciencemag.org/site/feature/contribinfo/prep/gen_info.xhtml#unpublished).

I want to use and credit your excellent software. I look forward to a manuscript!

[2015-07-16 23:31] colinbrislawn opened #98 "option --minh ignored while using --uchime_denovo"
I have a small fasta file of clustered sequences on which I am running uchime_denovo. I don't think changing my ‑-minh has any effect on results.

Running with defaults:
[code]

Running with much higher --minh:
[code]

Output files are identical:
[code]

Maybe an issue with these lines:
https://github.com/torognes/vsearch/blob/33c9583cb5ea9ae084c505426a50049e420a1234/src/chimera.cc#L740-L747

[2015-07-16 23:42] colinbrislawn commented on #98
--uchime_denovo also appears to ignore the --sizein flag.

[code]

Maybe this is by design (it always uses size annotations), but I worry about this...
I'll keep testing.

[2015-07-17 08:28] frederic-mahe commented on #98
Hi @colinbrislawn, only values ranging from 0.0 to 1.0 included are accepted for `--minh`. Could you try again with `--minh 1.0`?

[2015-07-17 17:16] colinbrislawn commented on #98
OK. `--minh 1` gives the same result at the default.

[code]

[2015-07-17 17:24] colinbrislawn commented on #98
Figured it out!

It looks like `--minh` must be a double, or it silently resets to the default. I wish it threw an error with a value over 1.0 or a integer was given.

This command works:
[code]

[2015-07-17 17:50] frederic-mahe commented on #98
Thanks for reporting this. This is indeed a test that could be added to vsearch to guide users.

I am not sure what to add to the documentation to avoid confusion. Any idea?

[2015-07-17 18:00] colinbrislawn commented on #98
Oh OK, that documentation looks great. I guess I did not read it well enough and note that all the examples are doubles, not integers.

A safeguard against integers and out of bound numbers would be even better. A safe guard against people who don't read the documentation, like me, would be best :disappointed_relieved:

[2015-07-17 18:09] frederic-mahe commented on #98
No problem. Documentation is one thing, I agree that having built-in safe guards would improve usability and would avoid frustration.

[2015-07-22 11:07] RonnySoak opened #99 "Test scripts"
The shell scripts in the test folder use #!/bin/sh which directs to the dash on my system (Linux Mint 17), which produces an error when I run them.

clusterf.sh: 14: [: v: unexpected operator
clusterf.sh: 17: [: v: unexpected operator
You must specify u or v as first argument

If I change it to #!/bin/bash, the scripts run without a problem.

Should they run with the dash? Or was the bash intended

[2015-07-22 12:42] frederic-mahe commented on #99
Hi @RonnySoak ,

you are right, the shell scripts were intended for bash. I would like to write a new set of test scripts, and I will likely write them for bash. In a second time, I might try to remove "bashisms" to improve the portability of the scripts. In my experience, bash is so widely available that it should not be an issue to target it specifically.

@torognes, can you please change script

[2015-07-22 13:58] torognes commented on #42
We have obtained funding to adapt vsearch to work with amino acid sequences. The work on this has just been started by @RonnySoak.

[2015-07-22 14:21] torognes opened #100 "Use "|" (vertical bar) instead of ";" (semicolon) as separator in FASTA header lines"
A user suggested we should use "|" (vertical bar) instead of ";" (semicolon) as separator in FASTA header lines. The ";" character was not allowed in newick files and "|" was more common.

Example: ">identifier;size=123;"

We should keep ";" for compatibility with usearch but might add an option to select a different character.

[2015-07-23 10:23] RonnySoak commented on #42
I started the branch protein_adaption on which I will work while adapting vsearch to amino acid sequences.
At the same time I will start with a suite of unit-tests. Especially for the parts that I will change during my work on vsearch.

Feel free to leave comments :-)

[2015-07-23 14:56] audy commented on #42
That's great news! @torognes

[2015-07-26 21:31] cnjr2 commented on #95
I was wondering whether this behaviour would also influence the dereplication and the clustering?

[2015-07-26 21:45] frederic-mahe commented on #95
hi @cnjr2, dereplication does not use k-mers, so it cannot be affected. Clustering and search use the same algorithmic core (based on k-mers), so clustering is probably affected too.

[2015-07-26 22:09] cnjr2 commented on #95
Thanks for the info!

[2015-07-27 09:18] torognes commented on #96
I have decided to keep the Makefile as it is. You can probably safely change the options as indicated on your own system, but the given Makefile is used to compile the distributed pre-compiled binaries and should work well on a wide range of systems.

[2015-07-27 09:18] #96 closed

[2015-07-27 09:24] torognes commented on #82
Fixed in "summer" branch.

[2015-07-27 09:27] torognes opened #101 "Reorganize subsampling commands for compatibilty with usearch"

[2015-07-27 10:00] torognes commented on #98
I've investigated the case, and vsearch does accept values larger than 1 for the minh option and the number may be an integer or real number. The problem has actually nothing to do with the minh option.

However, if you look closely, it seems that a special character (‑) that looks very similar to a dash or minus (-), appears in the command line in the example of @colinbrislawn with the minh optio

[2015-07-27 10:20] frederic-mahe commented on #98
Hi @torognes, it could come from the usage of `\-` in the man page. Debian maintainers requested that we use `\-` instead of `-` in our man pages. It converts dashes to another character in the PDF. Users might have copy-pasted the commands from the PDF and ended up with errors. For swarm, I use the following command when creating the PDF:
[code]

[2015-07-27 11:10] torognes commented on #98
Check for extra non-option arguments added in "summer" branch.

[2015-07-27 11:11] torognes commented on #94
Added in summer branch.

[2015-07-27 12:36] torognes commented on #101
Now supports these options: subsample, fraction, output, seed
Should instead support the following partly similar options: fastx_subsample, sample_pct, sample_size, fastaout, randseed, sizein, sizeout, xsize

[2015-07-27 14:42] torognes commented on #101
Fixed in "summer" branch

[2015-07-27 15:03] #89 closed

[2015-07-27 15:17] torognes opened #102 "Option to sort cluster output files by the size of clusters"
A user requested an option to sort cluster output files (consout, profile and others) by the size of clusters.

[2015-07-27 15:19] torognes opened #103 "Option to propagate the cluster identifier to both the consensus and profile files"
A user requested the option to propagate the cluster identifier to both the consensus and profile files.

[2015-07-27 15:22] torognes commented on #85
This problem is related to issue #95, marking this one as duplicate.

[2015-07-27 15:34] torognes commented on #83
Fixed in "summer" branch.

[2015-07-27 21:58] colinbrislawn commented on #98
Hello @torognes,

Thank you for identifying the issue with the dash like special character! I noticed that my vsearch log files were showing this different character, but was not sure why.

Although neither the ambiguous dash or the size of `--minh` are errors, extra checks to keep people like me from accidentally using them would be appreciated.

Keep up the good work!

[2015-07-28 08:51] torognes commented on #99
Fixed the shebang to point to bash in all scripts in the summer branch.

[2015-07-28 10:34] frederic-mahe opened #104 "Missing output in uchime_denovo mode"
As James V posted on the [vsearch forum](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/vsearch-forum/GjkTFtYaIvU), the total number of sequences reported in the chimera and non-chimera output files can be less than the number of sequences in the input file.

This is because borderline sequences (`?`) are excluded from both output files.

I suggest the following improve

[2015-07-28 14:32] torognes commented on #102
The option -cluster_sort has been added in the summer branch. It will sort the consout and profiles files by decreasing cluster abundance.

[2015-07-28 14:33] torognes commented on #103
The option -cluster_idhas been added in the summer branch. It will add the cluster id to the header lines in the consout and profile files.

[2015-07-28 15:11] frederic-mahe commented on #102
Hi @torognes, what about naming that new option `--clusterout_sort`?

Other options impacting the output contain the tag `out` (e.g., `--msaout`, `--consout`, `--sizeout`). It would make it different from input options like `--cluster_size`. We could start a pattern here, making it easier for users to understand how the role of each option.

What do you think?

[2015-07-28 15:20] torognes commented on #102
Agreed. Changed the names to clusterout_sort and clusterout_id.

[2015-07-28 15:21] torognes commented on #103
Changed the names to clusterout_id.

[2015-07-28 15:28] xflouris commented on #44
Hi @torognes I've scheduled my time to work on fastq_mergepairs from 10.8 to 21.8.
Cheers, tomas

[2015-07-28 15:32] torognes commented on #104
Good idea. Added to summer branch.

[2015-07-30 09:54] torognes commented on #86
related to #25

[2015-07-30 09:59] torognes opened #105 "Change license"
Change license to dual AGPL + 3-clause BSD license.

[2015-07-30 11:41] frederic-mahe commented on #105
That's OK with me.

[2015-07-30 17:08] colinbrislawn commented on #105
:clap: Thank you!
This makes the vsearch license friendly with QIIME2.
https://github.com/biocore/qiime/issues/1962

[2015-07-30 17:13] wasade commented on #105
This is fantastic news!

cc @rob-knight @gregcaporaso

[2015-07-30 17:14] gregcaporaso commented on #105
:fireworks: Great news, thanks for your willingness to change the license!!

[2015-07-31 13:51] torognes commented on #105
Actually I think we should rather use a dual license with a choice of either the ordinary GNU GPL version 3 license or the 2-clause BSD license. The ordinary GPL version 3 (not Affero) is more permissive than the current GNU Affero GPL license, and the BSD 2-clause license is more permissive than the BSD 3-clause license.

Since @frederic-mahe and @xflouris have already indicated that they agree I

[2015-07-31 14:51] torognes commented on #84
Ordinary relabelling as well as relabelling with a sha1 and md5 digest/hash added in the summer branch, for both sorting and dereplication. Will try to add it to clustering too.

[2015-07-31 15:33] torognes commented on #84
Added for nonchimeras output from chimera detection, and for centroids output for clustering. In summer branch.

[2015-07-31 15:57] frederic-mahe commented on #64
related to [issue 84](https://github.com/torognes/vsearch/issues/84).

[2015-07-31 16:37] colinbrislawn commented on #105
@torognes Thank you for making great software and letting us do anything with it!
(Except, of course, redistributing its binary or source without reproducing that copyright notice, this list of conditions, or the following disclaimer.)

[2015-08-03 09:04] torognes opened #106 "Replace CityHash by FarmHash or MetroHash?"
Google has released FarmHash 1.1.0, replacing CityHash.

https://code.google.com/p/farmhash/

Perhaps it is better?

[2015-08-03 09:17] frederic-mahe commented on #106
Nice! Authors say it is faster than CityHash in most cases. They also introduced architecture-specific improvements.

[2015-08-03 09:35] torognes commented on #106
Or MetroHash?

http://www.jandrewrogers.com/2015/05/27/metrohash/
https://github.com/jandrewrogers/MetroHash

See https://github.com/rurban/smhasher for comparisons.

[2015-08-03 18:33] torognes commented on #90
I have added the derep_prefix option in the "summer" branch of vsearch. It does not use a trie but a hash very similar to the one used for full length exact dereplication. It starts by sorting the sequences by length, shortest first. It then processes the sequences in order. If it does not find an exact match it will try with a prefix one symbol shorter until it finds a match or until the length o

[2015-08-03 18:48] wasade commented on #90
Ah, fantastic! cc'ing @josenavas and @ekopylova who may be interested in commenting on the derep.

[2015-08-03 21:51] torognes commented on #90
It took 30 min and 23 seconds to prefix-dereplicate an EMP dataset with 18179981115 nt in 154896650 seqs (25GB data) running with 1 thread on a linux server with Intel(R) Xeon(R) CPU E5-2670 0 @ 2.60GHz cpus. It used about 44GB of memory. Ended up with 111231707 unique sequences, avg cluster 1.4 sequences, median 1, max 77. Unable to run usearch due to memory limit.

[2015-08-03 21:53] josenavas commented on #90
Those numbers are really promising!

[2015-08-03 21:59] ekopylova commented on #90
That's great! Another useful feature is the output .uc file (in addition to the de-replicated FASTA file) which can be used to expand the final OTU map.

[2015-08-03 22:01] wasade commented on #90
Just to make sure I understand, the largest number of duplicated sequences
is 77? That seems a bit low, right?

On Mon, Aug 3, 2015 at 3:53 PM, josenavas <notifications@github.com> wrote:

[2015-08-03 22:20] torognes commented on #90
@wasade , yes 77 is the largest number of duplicated sequences, i.e. 77 different length prefixes of the same sequence. This dataset was already dereplicated using exact full length sequences, so 77 is actually rather high considering the average sequence length of 117. It can be run with "sizein" and "sizeout" options to add up the abundance numbers for all sequences in the same cluster.

[2015-08-09 08:57] frederic-mahe commented on #90
Regarding that problem, the safest bet is probably to link the short sequence to the most abundant matching sequence (if several matches). To achieve that, fasta entries could be sorted by increasing sequence length, then by decreasing abundance, and then by increasing alpha-numerical order to obtain a stable sorting order (like the sorting option does).

[2015-08-10 21:08] josenavas commented on #90
:+1: to @frederic-mahe solution!

[2015-08-11 15:29] frederic-mahe commented on #90
Hi @torognes,

if you use abundance values to break ties when performing prefix clustering, you might want to use the original abundance value of each sequence, not the updated abundance values (i.e. the cumulated abundance values of previously merged prefix sequences). It would reduce the snowballing effect.

[2015-08-20 13:33] torognes commented on #95
Related to #85

[2015-08-31 08:05] torognes opened #107 "Add header information to sam output"
Header lines (starting with @) in the beginning of the sam output file should be added, possibly if a certain option is specified. Will help postprocessing of results with samtools etc.

[2015-09-02 15:11] torognes commented on #66
The problem has been resolved in the summer branch, version 1.2.13 and later.

[2015-09-02 15:13] torognes commented on #44
A new FASTQ file parser has been added and the fastq_chars, fastq_stats and fastq_filter commands with all options have been added in version 1.2.16 in the summer branch. Unable to find out what the number in the "Tails" column in fastq_chars output is supposed to mean.

[2015-09-03 15:23] frederic-mahe opened #108 "Warnings reported by cppcheck"
cppcheck reports the following warnings when analyzing vsearch's source code (summer branch). Not all warnings are worth correcting. I just though cppcheck would be interesting to add in the development pipeline.
[code]

[code]

[2015-09-04 08:03] torognes commented on #108
Thanks, I'll look into these warnings.

[2015-09-04 17:12] walterst opened #109 "Request regarding abundance labeled output"
Hello guys,

This isn't necessarily your responsibility, but I found an issue with dropping in vsearch (with 1.1.3 and 1.1.2) as a replacement for usearch61 with QIIME, in particular the identify_chimeric_seqs.py with method usearch61. In particular, the output of the initial abundance sorted reads do not have the "size=" output, which throws off the parsers in QIIME.

Command being called:
vsearc

[2015-09-04 18:08] torognes commented on #108
Most of these are probably harmless, but I found one that was more serious. It caused searches to be a little more sensitive than intended, so no major problem. I've changed the code to avoid many of the warnings.

[2015-09-06 18:21] dereneaton opened #110 "details of msa output"
Is the `msa` output a true multiple sequence alignment, meaning it performs an all-by-all alignment, or are sequences aligned only relative to the seed? If it's all-by-all, how well does it perform relative to the default options for `muscle`?

[2015-09-07 13:38] torognes commented on #109
Thanks for the request. Will fix this in upcoming version.

[2015-09-07 13:44] torognes commented on #110
No, it is just a simple alignment of the seed (centroid) against the other sequences. I seems to work okay if the sequences are not too different, but in general it is probably does not produce very good multiple alignments. But it is fast and simple.

[2015-09-08 14:03] torognes commented on #109
Fixed in 1.2.18.

[2015-09-09 14:23] chrismclimans commented on #44
@torognes that is great. I have, in the past 3 months, started to implement VSEARCH into my lab's NGS pipeline and we are throughly enjoying using it. Like Colin said we still rely on USEARCH for -fastq_stats -fastq_mergepairs and -fastq_filter. I'm excited that some of these have been added to the new version. When do you foresee releasing the newest (1.2.16) version?

[2015-09-09 18:28] #110 closed

[2015-09-09 19:09] colinbrislawn commented on #44
@chrismclimans You can download, build, and use the newest right now, if you want to.
[code]

The new `vsearch` executable will be in the folder `bin`.

@xflouris Any updated on `--fastq_mergepairs`? I would love to see that in vsearch!

Keep up the great work.
Colin

[2015-09-09 19:18] torognes commented on #60
Adapted for autotools build system with single makefile in v1.3.0 in summer branch.

[2015-09-09 23:23] colinbrislawn commented on #60
For vsearch, most of the size comes from `data`.
[code]
If you are trying to keep size down, perhaps you could host a separate git repo for test data sets?

Github is even launching [a platform for extremely large data sets](https://github.com/blog/1986-announcing-git-large-file-storage-lfs), if the need were to arise.

[2015-09-09 23:27] chrismclimans commented on #44
@colinbrislawn Thanks so much Colin, hope you are doing well! (-from the Lamendella lab).

[2015-09-10 12:40] torognes commented on #105
The new license applies to the latest commits in the summer branch.

[2015-09-11 10:47] torognes commented on #60
I agree, we should try to move the large datafiles to a separate repo. I will look into it.

[2015-09-11 10:50] torognes commented on #44
@chrismclimans Nice to hear that you enjoy vsearch. We need to do some more testing, documentation and repo preparation before I think we can make a new release. I think it will be available later in September.

[2015-09-14 15:25] frederic-mahe opened #111 "Large memory consumption with --fastx_revcomp"
Hi Torbjørn,

I am testing the new `--fastx_revcomp` function and I observe a very large memory consumption (97% of 32 GB of RAM) when reverse-complementing a 7 GB fastq file.
[code]
Is it normal? if not, can you reproduce that bug?

[2015-09-14 15:28] torognes commented on #111
Looks like a memory leak. Will check.

[2015-09-14 15:38] frederic-mahe commented on #111
Yes. A small datasets generates an error with valgrind
[code]

[2015-09-15 07:27] frederic-mahe opened #112 "Typo"
In summer branch, the message returned by the option `-v` contains a typo ("vv1.3.1" instead of "v1.3.1"):
[code]

[2015-09-15 08:47] frederic-mahe opened #113 "Help message"
It is possible to use `--version` and `-v` to get the version of vsearch, but it is not possible to use the short option `-h` for `--help`. Since `-h` is fairly common, it might be nice for users if vsearch could accept `-h` too.

[2015-09-15 13:31] torognes commented on #111
Fixed now in 1.3.2, together with a few other memory leaks.

[2015-09-15 15:16] torognes commented on #107
Fixed in 1.3.3.

[2015-09-15 15:18] torognes commented on #44
fastx_revcomp has also been added.

[2015-09-15 15:57] torognes commented on #60
I've made a separate vsearch-data repo now and copied the data files to that repo. I will soon delete them from the main vsearch repo and remove them from the history too.

[2015-09-15 16:07] colinbrislawn commented on #60
:+1:

[2015-09-15 16:11] frederic-mahe commented on #65
Is this permission issue fixed in the summer branch?

[2015-09-15 17:50] torognes commented on #65
It seems like the files distributed separately as part of the release will never have the execute bit on. I therefore plan to put the executable as well as the man file and the pdf version of the manual in a tar.gz compressed archive. Within a tar archive files may have the execute bit set. So it is not fixed yet, but will be with the next release.

The summer branch now incorporates everything in

[2015-09-15 17:53] torognes commented on #65
The excutable + man + pdf will then constitute a binary distribution package with the essential files. I will make two files, one for Linux and one for Mac.

[2015-09-17 10:19] torognes commented on #96
I've made some changes to the configure.ac and src/Makefile.am in line with your suggestion in the "summer" branch. It now uses "-mtune=native" as well as "-msse2" and "-mssse3" for the appropriate files. It will then run on any machine with at least sse2, but will be tuned for the native machine. You may set "-march=native" for maximum performance, but then the binary may not run on older/other m

[2015-09-17 13:46] torognes commented on #60
I've tried to remove all of the data and bin directories from the repo history now, but I seems I did not completely succeed. Will try to fix.

[2015-09-17 14:44] torognes commented on #60
Seems like it is fixed now. The repo is down to about 4MB (from almost 400MB).

[2015-09-22 14:36] frederic-mahe commented on #73
Torbjørn and I decided that the taxonomy assignment with vsearch is not a priority. vsearch can already perform fast environmental-reference sequences comparisons. Then, a script can parse the results an compute LCA in a flexible way (reference databases can be in multiple formats). Besides similarity based assignments, there are other solutions such as naive Bayesian classifiers, phylogenetic pla

[2015-09-22 14:36] #73 closed

[2015-09-22 15:00] torognes commented on #42
The work on this issue has been suspended due to lack of funding. Hopefully the work could be resumed again later. We will update the issue when we have more information.

[2015-09-22 15:17] frederic-mahe commented on #37
Torbjørn is going to create lists of legal options for each command and add tests to detect the usage of illegal options. vsearch will print an error message with the illegal option,  the list of legal options for that particular command, and the short general help listing all the commands.

[2015-09-22 15:18] torognes opened #115 "Support xz compressed files"

[2015-09-22 15:20] torognes opened #116 "FASTQ version conversion"
Add a command to convert between Sanger and Sanger/Illumina1.3/1.5 FASTQ format with quality score base of 33 or 64.

[2015-09-22 15:20] frederic-mahe commented on #40
Most options accepting range of values now test for the validity of the value entered by the user. I should create scripts testing that, with the objective to confirm correct behavior and to find options that are not sanitized yet.

[2015-09-22 15:21] torognes opened #117 "Add "-v" option for version"

[2015-09-22 15:22] torognes opened #118 "Improve chimera detection"

[2015-09-22 15:46] #15 closed

[2015-09-22 16:01] torognes opened #119 "Support AVX2"
Use the libssa library: https://github.com/RonnySoak/libssa

[2015-09-22 22:38] colinbrislawn commented on #73
:+1:

For reference, here are some programs which can perform this.
 - Qiime, using [assign_taxonomy.py](http://qiime.org/scripts/assign_taxonomy.html) with vsearch as an aliase for uclust
 - [LotuS](http://psbweb05.psb.ugent.be/lotus/)
 - [stampa](https://github.com/frederic-mahe/stampa)

[2015-09-23 11:46] torognes opened #120 "Make --fastx_subsample work with FASTQ files, not just FASTA files"

[2015-09-23 12:40] torognes opened #121 "Add relabelling options to shuffle"

[2015-09-23 12:55] torognes commented on #39
Check if input is a regular file or a stream. If a stream do not provide progress bar for reading.

[2015-09-23 12:57] torognes commented on #39
Check if filename is a dash (-) and read/write to stdin/stdout instead.

[2015-09-23 13:53] pschloss opened #122 "sizeorder option"
usearch 6.1 and 7.x have an undocumented option called sizeorder, it is not in version 8.x. I'm wondering how difficult it would be to incorporate into vsearch. This option was used in a recent paper by He et al. () as what they called abundance-based greedy clustering (AGC). From my communications with Edgar and He,

I'm wondering how difficult it would be to incorporate the --sizeorder option in

[2015-09-23 19:54] torognes commented on #122
Thanks for the suggestion. I don't think this should be too difficult. I'll look into it in the coming days.

[2015-09-25 15:48] torognes commented on #122
I've added this option now. I hope it works as expected.

[2015-09-25 15:49] #122 closed

[2015-09-25 15:49] #113 closed

[2015-09-25 15:49] #112 closed

[2015-09-25 15:49] #111 closed

[2015-09-25 15:49] #109 closed

[2015-09-25 15:49] #108 closed

[2015-09-25 15:50] #107 closed

[2015-09-25 15:50] #105 closed

[2015-09-25 15:50] #72 closed

[2015-09-25 15:50] #104 closed

[2015-09-25 15:50] #103 closed

[2015-09-25 15:50] #64 closed

[2015-09-25 15:50] #102 closed

[2015-09-25 15:50] #101 closed

[2015-09-25 15:51] #99 closed

[2015-09-25 15:51] #60 closed

[2015-09-25 15:51] #65 closed

[2015-09-25 15:51] #98 closed

[2015-09-25 15:51] #66 closed

[2015-09-25 15:52] #94 closed

[2015-09-25 15:52] #82 closed

[2015-09-25 15:52] #83 closed

[2015-09-25 15:52] #84 closed

[2015-09-25 15:52] #90 closed

[2015-09-25 17:07] colinbrislawn commented on #84
Thank you!

[2015-09-25 18:19] pschloss commented on #122
thanks!

[2015-09-25 20:15] colinbrislawn opened #123 "Issue with zlib on version 1.4.0"
Hello @torognes,

I've just downloaded `vsearch-1.4.0-linux-x86_64` and encountered this error.
`vsearch: /lib64/libz.so.1: version 'ZLIB_1.2.3.5' not found (required by vsearch)`

I'm a little surprised to find this because I'm using RHEL 6 and have zlib installed.
[code]

Would building vsearch from source fix this issue?

[2015-09-25 20:21] colinbrislawn commented on #123
Building from source did indeed fix this issue.

[2015-09-25 20:34] torognes commented on #123
hi @colinbrislawn

Yes, building from source helps, but there is still something odd with it. I had to install a new version of zlib in a private folder, even though zlib is installed on the system. However, vsearch requires zlib version 1.2.4 or later. Version 1.2.3 (which I think is standard on RHEL 6) will not work properly, that is probably why we get the error message. Version 1.2.3 and earli

[2015-09-25 21:26] colinbrislawn commented on #123
You are correct; building from source works, but `gz` files are not supported.

How should I go about building vsearch with the newest version of zlib?

[2015-09-25 21:36] torognes commented on #123
If you install a new version of zlib on your system and rerun configure, it should be detected. When you run make after that, support for gzip compressed files should be included.

Note that zlib must be installed in the system folders (e.g. /lib). If it is installed elsewhere, make sure CPATH and LD_LIBRARY_PATH includes the path to where the zlib.h and the libz library, respectively, can be foun

[2015-09-25 21:40] colinbrislawn commented on #42
I'm sorry there has been funding issues :-(

I may have mentioned this before, but www.github.com/jeffdaily/parasail library offers pairwise alignment of amino acids with optimization for the SSE2, SSE4.1, AVX2, and KNC instructions sets. It also implements the striped algorithms from Farrar, 2007 and the blocked algorithm from your 2000 paper.

Given the availability of this high quality library

[2015-09-25 21:45] colinbrislawn commented on #123
Ah! zlib is not in my system path.

When you say 'the libz library' do you mean these files?
[code]

[2015-09-25 21:50] torognes commented on #123
Yes, its those files that make the library. They are accompanied by a zlib.h header file, usually in the /include folder.

When you run configure you should see these lines if everything is okay:

...
checking for library containing BZ2_bzRead... -lbz2
checking for library containing gzoffset... -lz
...
checking bzlib.h usability... yes
checking bzlib.h presence... yes
checking for bzlib.h... yes

[2015-09-25 22:07] colinbrislawn commented on #123
It does not look like it's finding it...

[code]

Are my paths right?
[code]

[2015-09-25 22:26] xflouris commented on #123
Hi @colinbrislawn,

I believe the problem is that autoconf finds a version of zlib older
than 1.2.4  (which lacks gzoffset function) in the system library path.
In case you have compiled/installed a newer zlib in a different path,
e.g. /people/asdf/bin/git-repos/zlib, then instead of running
./configure you should run the following:

LIBS=/people/asdf/bin/git-repos/zlib ./configure

Hope this help

[2015-09-29 13:28] torognes opened #124 "Remove dependency on crypto libraries"
Insert public domain code for md5 and sha1 to get rid of the dependency of the crypto libraries and their complicated licenses.

[2015-09-29 18:21] colinbrislawn commented on #124
[MD5](http://openwall.info/wiki/people/solar/software/public-domain-source-code/md5)

I'm not finding an sha1 implementation which is variantly public domain. [These](https://oauth.googlecode.com/svn/code/c/liboauth/src/sha1.c) [two](http://pushover.sourceforge.net/repos/head/src/sha1.cpp) claim to be.

[2015-09-29 20:17] torognes commented on #124
Thanks. I found a public domain SHA1 implementation here that I will use: http://www.ghostscript.com/doc/jbig2dec/sha1.c

[2015-09-30 07:41] torognes commented on #124
Fixed in 1.4.1.

[2015-09-30 07:41] #124 closed

[2015-10-02 14:52] ghbio opened #126 "realloc() error clustering on v.1.4.1"
Hi,
I am trying VSEARCH and I want to cluster a 1.7 GB fasta file of protein coding sequences. At the beginning of the run (when reading 26% of the file) I get the following error:
```Reading file my_file.fasta 26%*** glibc detected *** vsearch: realloc(): invalid next size: 0x0000000001e998b0 ***```
My command was:
 `vsearch --cluster_fast my_file.fasta -centroids centroids.fasta -id 0.95 --iddef

[2015-10-02 14:58] torognes commented on #126
Thanks you for reporting this bug. I will look into it now.

[2015-10-02 15:56] torognes commented on #126
I am unable to reproduce this error with any of my data files. The FASTA parser has changed substantially lately and have perhaps not been tested vigorously enough. Would it be possible for you to send me  the "my_file.fasta" in some way?

[2015-10-02 18:14] torognes commented on #123
Hi @colinbrislawn,

The problem should be fixed now in version 1.4.2, as vsearch will dynamically load the libraries if they are available. The supplied binary is compiled with support for both gzip and bzip2 compressed files, but they are not required. Their availability is checked at runtime.

Also, vsearch no longer requires version 1.2.4 of zlib as I found a simple workaround that makes if wor

[2015-10-02 18:25] torognes commented on #123
Hi @xflouris

I found a workaround for the missing gzoffset function in zlib 1.2.3 and earlier. It might be useful for PEAR and other projects as well.

Old code (line 493 in fasta.cc):
[code]

New code (lines 502-507 in fasta.cc):
[code]

It uses gzdopen to open the gzipped file (h->fp_gz) while keeping the original file (h->fp) open. Instead of using gzoffset on h->fp_gz it will make a duplicate

[2015-10-02 22:58] colinbrislawn commented on #123
:clap: @torognes

[code]

Thank you!

[2015-10-02 22:58] #123 closed

[2015-10-02 23:06] colinbrislawn opened #127 "Fatal error: Cannot determine amount of RAM with 1.4.2 on OSX 10.8.5"
I just downloaded the newest vsearch version from the release channel. It returns this error.

[code]

Let me know how I can to help address this problem.

[2015-10-03 09:11] torognes commented on #127
Strange. Does this happen when you compile yourself too, or is it only with the supplied binary? You are using OS X 10.8.5 (Mountain Lion). I just upgraded to OS X 10.11 (El Capitan) on the machine used to compile it on. Maybe there is a difference?

[2015-10-03 09:37] torognes commented on #127
Thanks for reporting the issue, @colinbrislawn. I think I have found the problem and tried to fix it in the new release 1.4.3. Can you try it?

[2015-10-03 09:43] torognes commented on #127
Oops, try with 1.4.4.

[2015-10-05 16:00] ghbio commented on #126
Hi and sorry for the delay. I get the same error if I try to `vsearch --cluster_fast` a file with just the three longest sequences of my dataset (the longest of them is 15.5 kbp). A subset of sequences from a `head -300 my_file.fasta` (the file is unsorted) runs fine and doesn't trigger the error. I am sure I can e-mail you both of the files for you to do your tests with them.
Thanks again.

[2015-10-05 16:08] colinbrislawn commented on #127
Version 1.4.4 works great, including on `.gz` files.

Thank you for addressing this so quickly!

[2015-10-05 16:08] #127 closed

[2015-10-06 12:54] torognes commented on #126
Thanks for sending me the files. It runs fine on Mac but crashes on Linux. I'll look further into it.

[2015-10-06 14:00] torognes commented on #126
I think I found the problem and solved it. Some misplaced parentheses caused too little memory to be allocated. The new vsearch version 1.4.5 should solve the problem. But please not that vsearch works best with sequences shorter than about 5000bp. Longer sequences will make it much slower.

[2015-10-06 14:00] #126 closed

[2015-10-06 14:48] ghbio commented on #126
Thank you very much. It is also working for me now.
Chhers,
Pablo

[2015-10-06 15:32] torognes opened #128 "Fix alignment bug introduced in version 1.2.17"

[2015-10-06 21:39] torognes commented on #128
Fixed in version 1.4.6.

[2015-10-06 21:39] #128 closed

[2015-10-07 11:01] torognes commented on #85
This problem is solved now in version 1.4.7. This version of vsearch will consider all words in the sequences, not just those occurring exactly once.

[2015-10-07 11:01] #85 closed

[2015-10-07 11:01] torognes commented on #95
This problem is solved now in version 1.4.7. This version of vsearch will consider all words in the sequences, not just those occurring exactly once.

[2015-10-07 11:01] #95 closed

[2015-10-07 13:08] torognes commented on #117
Fixed in 1.5.0.

[2015-10-07 13:08] #117 closed

[2015-10-07 13:10] torognes commented on #115
There is a library here: http://tukaani.org/xz/
However, it seems more difficult to implement than with gzip and bzip2 compressed files because the API does not handle files directly AFAIK.

[2015-10-07 13:52] torognes commented on #120
Will require ability to read sequences into a database, or to read the sequences twice (first to count sequences and abundances, then to write output). May modify db.cc to read both fasta and fastq files.

[2015-10-07 14:57] cnjr2 commented on #95
Thank you! I will try it out and let you know how it went.

[2015-10-07 19:57] gregcaporaso opened #129 "possible for .uc files to be relabel_sha1-aware?"
I'm using vsearch in dereplication mode. In my output fasta I would like to have the sequences relabeled based on their sha1, and I'd like to have a ``.uc`` file generated as well. This works with the following command:

[code]

However the issue I'm running into is that the sequence identifiers in the ``.uc`` file are the original identifiers, not the relabeled (sha1) identifiers. Would it be pos

[2015-10-07 21:03] torognes commented on #129
This is not possible yet, but could easily be added. Will look into it soon.

[2015-10-07 21:04] gregcaporaso commented on #129
Great, this would be really helpful.

[2015-10-08 09:09] torognes commented on #129
Do you want only the header of the representative sequences to be replaced by their sha1 hash in the uc file? If the identifiers of all sequences in the uc file are replaced by their sha1 hash, all sequences in the same cluster will get identical identifiers since their sequences are identical, making them somewhat meaningless.

[2015-10-08 15:49] gregcaporaso commented on #129
Ah, good point, hadn't thought of that...

My use case is that I want to dereplicate sequences that were demultiplexed with QIIME, and build a [BIOM table](www.biom-format.org). For that purpose, I need to define OTU/observation ids, and the sha1 of the sequences is perfect for that as it would allow merging of tables that are created in different runs of vsearch. But, I'm realizing there is a pro

[2015-10-08 22:29] colinbrislawn commented on #129
Hello @gregcaporaso

...
Could the original sequence identifiers be included in the fasta comment.

I would describe that as 'adding a label.' **To me, 're-labeling' implies changing the names of the reads because each read represents something different.**

- Your original fasta entries represent single observations from samples. Because of this, each read is labeled with its sample name, like `6

[2015-10-08 22:31] colinbrislawn opened #130 "add --search_exact"
USEARCHv8 includes the `--search_exact` command.
http://www.drive5.com/usearch/manual/cmd_search_exact.html

So it's probably a hash table lookup.

This is not commonly used, but would be helpful in specific cases, like building an abundance table of dereplicated sequences #129

Thank you!
Colin

[2015-10-08 22:41] gregcaporaso commented on #129
No, I'm not looking to do OTU clustering. Instead, I want the dereplicated sequences to represent my OTUs. I know how to do this, but including the hashs with the vsearch output that I'm already generating would speed up the process.

[2015-10-08 22:46] colinbrislawn commented on #129
Ah ok. The example code I provided does this.
(I should not have mentioned OTU clustering in my example.)

[2015-10-08 23:11] gregcaporaso commented on #129
Yes, but it's requiring two runs of vsearch where the second one is going to be relatively very slow. I have all of the information that I need from the ``vsearch --derep_fulllength`` command that I posted above. I'm just looking to get a mapping of the original sequence id to the hash so I don't have to recompute the hashes to use them as OTU ids.

[2015-10-08 23:37] colinbrislawn commented on #129
Point taken. Remapping with global alignments is very slow. Remapping with `--search_exact` would be fast, but would still involve another step.

What if the `--uc` output of `--derep_fulllength` was different. Current version:

[code]

What if the new sha1 label was listed in an additional column? Like this:
[code]

You can then pull those hashes from the `.uc` output or parse that into a .biom t

[2015-10-09 08:44] torognes commented on #130
Thank you for this suggestion. This is an easy and useful feature that I will add soon.

[2015-10-09 09:01] torognes opened #132 "Implement the search_global command"
Should be simple to add. Together with the other issues that suggests other usearch 7 commands to be implemented, this will make the set of usearch 7 commands for nucleotide sequences complete, as far as I can see.

[2015-10-09 10:28] torognes commented on #106
Some tests with dereplication indicated that using Metrohash had little or slightly negative effect on performance.

[2015-10-09 11:36] torognes commented on #121
Added in 1.6.0

[2015-10-09 11:36] #121 closed

[2015-10-09 11:40] torognes commented on #129
@colinbrislawn I'll try to add the search_exact command soon. Thanks for the suggestion.

[2015-10-09 11:49] torognes commented on #129
What if we always include the full previous FASTA header after a space after the new identifier (sha1/md5/prefix+number) when relabelling?

Example:

Before relabelling:
[code]

After relabelling with sha1:
[code]

I think will be quite general and should break few scripts. We could introduce another option, e.g. `--relabel_keep` (or similar) to include the old header.

[2015-10-09 13:01] gregcaporaso commented on #129
@torognes, that solution works. And the resulting file is still valid fasta, so no (correct) fasta parsers should break. Thanks for the quick responses on this. vsearch is awesome!

@colinbrislawn, your solution would result in the file not being .uc anymore like you mention. While the content would be what we need, there's a lot of benefit to sticking with a file format that other tools are alrea

[2015-10-09 17:43] colinbrislawn commented on #129
@torognes I really like your idea of having `--relabel` replace current labels by default, and the optional setting `--relabel_keep` to preserve labels as Greg suggested.

@gregcaporaso I agree that preserving file formats is important, and really like Torbjørn's suggestion because it yields valid .fasta and .uc files.
I also like the idea of partitioning functionality between functions and files

[2015-10-14 16:16] torognes commented on #129
The `--relabel_keep` option is added in vsearch 1.7.0. The old identifier can be found after the new label and a space in the new headers.

Remember that there is also an `--notrunclabels` option to keep the entire header as the identifier, not just the part before the space.

[2015-10-14 16:16] #129 closed

[2015-10-14 17:11] gregcaporaso commented on #129
Excellent, thanks so much!

[2015-10-19 14:24] torognes commented on #130
Added in version 1.8.0.

[2015-10-19 14:24] #130 closed

[2015-10-19 14:24] torognes commented on #120
Added in version 1.8.0.

[2015-10-19 14:24] #120 closed

[2015-10-19 14:24] torognes commented on #116
Added in version 1.8.0.

[2015-10-19 14:24] #116 closed

[2015-10-19 15:55] colinbrislawn commented on #130
Thank you! :clap:

[2015-10-21 07:57] torognes commented on #44
I've started work on fastq_mergepairs.

[2015-10-21 21:39] colinbrislawn commented on #44
Excellent! I look forward to this functionality.

What method will you use to calculate Q scores in the resulting area of overlap?
@xflouris mentioned using an improved metric. I know `bwa pemerge` and `PEAR` use different metrics if I remember correctly. I have no idea what `seqprep` uses...

[2015-10-21 21:47] colinbrislawn commented on #44
The method USEARCH uses for calculating post-pairing Q scores, is described this paper:
Section 2.4 Posterior error probability for a merged base call http://bioinformatics.oxfordjournals.org/content/early/2015/07/29/bioinformatics.btv401.full.pdf

[2015-10-22 19:44] torognes commented on #44
Thanks, @colinbrislawn, I'll probably use the equations in Edgar & Flyvbjerg's paper for computing the quality scores of merged bases.

[2015-10-23 07:53] torognes commented on #39
A problem is that we cannot rewind on streams. When we check if a file is compressed with zip or bzip2 we currently need to rewind after auto-detecting whether the input is compressed by reading the signature of the file (first two "magic" bytes"). The same is true for auto detection of FASTA or FASTQ files (File starts with ">" or "@"). We need to keep the data read so that we do not have to rewi

[2015-10-23 12:28] gregcaporaso commented on #39
I was just about to request that multiple files could be passed via ``-i``, and came across this thread. This would be extremely useful for me for dereplication as I'm currently cat'ing a bunch of fasta files together, dereplicating and then deleting the cat'ed file.

Also, a side note, but we released biom 2.1.5 this week, which now has a ``from-uc`` command that facilitates getting your vsearch

[2015-10-23 12:39] gregcaporaso opened #134 "release vsearch on anacoda?"
Would you guys be interested in releasing vsearch on conda, so users could ``conda install vsearch``? This is how we're starting to distribute all of our Python packages, but it supports distribution of software written in other languages as well. For example, some non-Python packages that we're distributing [here](https://anaconda.org/biocore), and the recipes that @RNAer put together for distrib

[2015-10-23 17:48] colinbrislawn commented on #134
I'm interested in this. @torognes, would you be comfortable with me attempting this or is this something you would rather do, or not do, yourself?

[2015-10-23 18:58] torognes commented on #134
@colinbrislawn That's fine, please go ahead!

[2015-10-31 23:58] colinbrislawn opened #135 "error in --fastq_stats on MaxOSX 10.8.5"
When I run `--fastq_stats` on MaxOSX 10.8.5, I get this error.

It appears to be a "non-Mavericks" issue according to USGS-R/glmtools#80

[code]

[2015-11-01 10:24] torognes commented on #135
Hi @colinbrislawn , is this with the distributed binary or did you compile it yourself?

[2015-11-01 19:05] colinbrislawn commented on #135
I got this error using the distributed binary.

I just tried building from source. I then got this error when running `autogen.sh`.

[code]

I have `autoconf (GNU Autoconf) 2.61` installed and I am now trying to install a newer version.

[2015-11-02 00:00] xflouris commented on #135
Hi @colinbrislawn , try changing the third line in configure.ac from `AC_PREREQ([2.63])` to `AC_PREREQ([2.61])`

and try ./autogen.sh once more. I don't think there were critical changes from 2.61 to 2.63 that would break this configuration.

[2015-11-02 01:39] colinbrislawn commented on #135
Thanks for the advice! I tried changing it and got a new error. Full log:

[code]

Ideas? (I do most of my work on Linux and other functions of vsearch work for me, so fixing this function on macOSX is not critical for me. You don't have to stress about this :smile: )

[2015-11-02 09:44] torognes opened #136 "Allow floating point number argument to threads option"
Allow floating point number argument (e.g. 1.0) to threads option for compatibility with usearch and qiime, specifically the identify_chimeric_seqs.py script.

[2015-11-02 09:44] torognes commented on #136
See also https://groups.google.com/forum/#!topic/vsearch-forum/Q4Q2-pbqFpc

[2015-11-02 11:55] torognes commented on #135
Hi @colinbrislawn, it seems like you are missing the x86intrin.h file. Either it is not installed or the compiler cannot find it.

I am looking into some possibilities for making sure that the binary distributions of vsearch works well on older versions of OS X that the one I am compiling it on (10.11.1 El Capitan). Hopefully I will release a patch later today.

[2015-11-02 15:32] torognes commented on #136
Fixed in vsearch 1.8.1.

[2015-11-02 15:32] #136 closed

[2015-11-02 15:33] torognes commented on #135
Should be fixed in vsearch 1.8.1.

[2015-11-02 16:34] colinbrislawn commented on #135
Thank you @torognes! I appreciate your ongoing support for my old mac. The binary for 1.8.1 works great!

I still can't build from source, but that's due to software I'm missing on my system. (Same error after I use `AC_PREREQ([2.61])`).

[2015-11-02 16:34] #135 closed

[2015-11-02 19:21] torognes commented on #39
Hi @gregcaporaso, I'll try to figure out a way to support input from a stream so that dereplicating together several files can be performed.

Thanks for the update to biom. I'll post a note about it.

[2015-11-02 19:23] gregcaporaso commented on #39
Great, thank you!

[2015-11-08 14:24] VascoElbrecht opened #138 "fastq_convert: fastaout does not work on fastq files"
I am using vsearch v1.8.1_osx_x86_64, 16.0GB RAM, 8 cores.
I would like to convert a fastq file to fasta with:

vsearch --fastq_convert N_debres_r1.txt -fastaout test.txt

but I get the error;
Fatal error: No output file specified with --fastqout

converting fastq to fastq with the following command works, so i think my files are ok:

vsearch --fastq_convert N_debres_r1.txt -fastqout test.txt #(do

[2015-11-09 12:43] torognes commented on #138
Hi @VascoElbrecht

The fastq_convert command is for conversion between different fastq file variants (e.g. phred+33 and phred+64 formats).

To convert a FASTQ file to FASTA, please use the fastq_filter command (without any filtering):

`vsearch --fastq_filter N_debres_r1.txt -fastaout test.txt`

You may need to include the `-fastq_ascii` option if your FASTQ file is in an old variant of the format

[2015-11-09 13:14] torognes opened #139 "Remove autoconf files from distribution"
The following files should be included in the distribution:
aclocal.m4
config.h.in
configure
compile
depcomp
install-sh
missing
Makefile.in

This should allow compilation even when autoconf is not installed.

[2015-11-09 13:17] xflouris commented on #139
I'm not sure if all these files are needed for the Git repository.
On a machine with autotools installed, the command

`make distcheck`

will create a tarball that does not require autotools. We can then include this in the release tag.

[2015-11-09 13:23] xflouris commented on #139
Sorry, I take it back. It was possible to create a tarball in the previous version, in this one, it seems there is a problem finding cityhash/city.h

[code]

For now, `make dist` works, but `make distcheck` must pass as well.
I'll check what the problem is. I believe we're only missing the dependency of city.h in src/Makefile.am

[2015-11-09 13:32] torognes commented on #139
Thanks for looking into this, @xflouris

[2015-11-09 13:34] xflouris commented on #139
The simple fix to have `make distcheck` working again:

`cityhash/city.h` must be added to `libcpu_sse2_a_SOURCES`, `libcpu_ssse3_a_SOURCES`and `__top_builddir__bin_vsearch_SOURCES` in src/Makefile.am

This will also require that line

[code]
in src/cityhash/city.cc is changed to

[code]

[2015-11-09 13:39] torognes commented on #139
Ok, I'll fix that in the next release.

Do you think we can skip some of the files listed above for the release? The files listed were those that I found were included in the tarball created from running `make dist`.

[2015-11-09 13:43] VascoElbrecht commented on #138
Dear Torbjørn,

great! Thank you very much!

Best
Vasco

[2015-11-09 13:43] #138 closed

[2015-11-11 08:26] ryneches opened #140 "escape tabs in fasta names writing output with --uc"
If the names of the records read using --cluster_fast contain tabs, the output created by --uc does not escape or quote them. This results in column parsing problems.

`usearch` may have the same behavior, but perhaps this is another case to add to the "Deliberate Changes."

[2015-11-11 11:22] torognes commented on #140
Hi @ryneches ! Thanks for your suggestion.

I've checked what usearch does in this case, and it will normally truncate the sequence identifiers in the fasta headers at the first space or tab, unless the `--notrunclabels` option is specfied, in which case the entire line is included.

There is a difference here, as vsearch only truncates at the first space and not at the first tab. That can be cons

[2015-11-11 12:45] xflouris commented on #139
Sorry for the late reply. I don't think we need to include any of the 8 files in the Git repository. They're automatically generated by autotools and may differ from version to version and Ttey're included in the distribution tarballs. Hence, if someone wants to only compile the rel

[2015-11-11 13:08] torognes opened #142 "Segfault or fatal error with fastx-commands on compressed input files"
Applies to fastx_mask, fastx_subsample and fastx_revcomp

[2015-11-11 13:26] torognes commented on #142
Applies only to gzipped files

[2015-11-11 14:01] torognes commented on #139
But the distribution tarballs on the release page on Github is created by Github automatically as a snapshot of the files in the repo. The tarballs are not made by running `make dist`.

I would therefore like to include the 8 files so that users can compile vsearch without having autoconf installed. They only need to download, unpack, run `./configure` and then `make`. No need to run `autogen.sh`.

[2015-11-11 14:10] xflouris commented on #139
You're completely right. I was under the impression a manual upload of tarballs was possible for a release. All 8 files are then required.

[2015-11-11 14:12] torognes commented on #139
Source tarballs are created automatically, but we can add other files, e.g. binary distributions.

[2015-11-11 22:02] ryneches commented on #140
Yeah. The truncation behavior could be even more problematic than failing to escape or quote.

How about throwing a warning on STDERR when it reads the fasta file (and the user has specified the --uc flag), and suggest either the usearch-like `--notrunclabels`, or some vsearch-specific options. How about, `--quotelabels`, `--replacelabeltabs` and `--escapelabeltabs`?

I know that's a lot of troubl

[2015-11-12 11:08] torognes commented on #140
I'll very soon change the behaviour of vsearch in the next release to truncate at the first space or tab by default, similar to usearch. If the `--notrunclabels` option is specified, the entire line will be read.

To include tabs in the identifiers the user will then have to include the rarely used `--notrunclabels` option. If the user does this, and includes tabs in the input and asks for output

[2015-11-12 12:35] torognes commented on #142
Fixed in 1.9.0.

[2015-11-12 12:35] #142 closed

[2015-11-12 12:35] torognes commented on #139
Fixed in 1.9.0

[2015-11-12 12:41] torognes commented on #44
The `--fastq_mergepairs` command is implemented in version 1.9.0 that was just released. All options in usearch are supported. Statistical testing of significance is performed in a way similar to [PEAR](https://github.com/xflouris/PEAR), but it does not use empirically determined base frequencies and just assumes 25% of each base. The quality of merged bases is computed as described by [Edgar and

[2015-11-12 12:52] torognes commented on #44
The following commands to process FASTQ files are now available in vsearch:
* fastq_chars
* fastq_convert
* fastq_filter
* fastq_mergepairs
* fastq_stats
* fastx_mask
* fastx_revcomp
* fastx_subsample

They behave is with usearch. The new fastq_convert command can convert FASTQ files between different quality score encodings (phred+33 and phred+64).

Please see the [manual](https://github.com/toro

[2015-11-12 18:40] colinbrislawn commented on #44
:clap: Thank you! I look forward to using these!

[2015-11-12 21:55] ryneches commented on #140
Well, the reason this came up in the first place is that our pipeline for QC, demultiplexing and read merging uses tabs in the record names. A lot of other such tools do as well, and many do not give the user the option to change how records are named.

In my case, I can live without the information following the first tab. I've struggled with so many awful integration bugs that have resulted from

[2015-11-13 10:37] torognes opened #143 "Improved chimera reporting"
A user on the VSEARCH forum suggested:

Hi,

I have a small suggestion for the output printed to screen during chimera removal (vsearch option --uchime_denovo).

Currently, vsearch reports the number and percentage of unique sequences only, like so:

Found 89069 (15.7%) chimeras, 473530 (83.7%) non-chimeras,

I know that size annotations are acceptable in the sequence headers of the input fasta (r

[2015-11-13 13:43] torognes opened #144 "Optionally compress output to FASTA or FASTQ files with gzip or bzip2"
A user suggested this feature

[2015-11-16 09:33] davidealbanese opened #145 "vsearch --fastq_stats doesn't report correct values of AvgEE, Rate and RatePct"
In a simple example (see test.fastq) `vsearch --fast_stats` doesn't report correct values (and so they are in disagreement `usearch` results) for AvgEE (Average Expected Errors), Rate (Average Expected Errors/L) and RatePct:

vsearch v1.8.1_osx_x86_64, 8.0GB RAM, 8 cores
vsearch --fastq_stats test.fastq --log stats_vsearch.txt
[code]

usearch_i86osx32 v6.1.544, 4.0Gb RAM (8.6Gb total), 8 cores
use

[2015-11-16 12:25] torognes commented on #145
Thank you for reporting this, @davidealbanese ! I'll look into it. When I developed it I used a much larger set of sequences and obtained similar values as with usearch, but since these parts of usearch are not documented in detail it is difficult to find out exactly how things are computed. Based on your sets of sequences I may be able to find out in more detail what is different.

[2015-11-16 13:13] davidealbanese commented on #145
Dear @torognes, thank you for your reply. I noticed a strange behavior on a real dataset, were I found an average expected error much higher than the read length (and by definition EE should be <= read length):
[code]
Therefore, I tried on a simple (previously attacched) fastq:
[code]
where it is easy to see that, for example, for L=50 the average expected error (read 1 and 4 are identical) should

[2015-11-16 13:47] torognes commented on #145
I think it should be
[code]
and
[code]
but otherwise I agree. (The first part should be multiplied with 40, not 50.)

I it is not trivial to understand exactly what these values are meant to represent, but I think I get it now. I'll revise vsearch to compute these values correctly.

Thank you again for reporting the problem.

[2015-11-16 14:20] davidealbanese commented on #145
Yes, you are right (I'm sorry but I revised the math before your reply). A recent Edgar's paper defines the expected error and I think could help: http://bioinformatics.oxfordjournals.org/content/31/21/3476.full.

Thank you again!

[2015-11-17 11:29] torognes commented on #145
This problem should be solved now in version 1.9.2.

[2015-11-18 09:59] #145 closed

[2015-11-18 14:14] torognes commented on #44
The fastq_mergepairs command is not yet parallelised. I plan to do this later.

[2015-11-19 09:41] davidealbanese opened #146 "Error in installing vsearch 1.9.2 from source on OS X 10.8.5"
After running `./configure`, the `make` command returns the error:  `vsearch.h:69:23: error: x86intrin.h: No such file or directory`:
[code]
The complete `./configure` and `make` outputs are in attachment.
[install.txt](https://github.com/torognes/vsearch/files/38799/install.txt)

[2015-11-19 09:49] torognes commented on #146
Thanks for reporting this issue. Another user have reported a similar problem. I need some more information to diagnose this problem. Which operating system and version are you compiling on? And what type of cpu do you have?

[2015-11-19 09:49] xflouris commented on #146
Hi @davidealbanese , could you paste us the output of `g++ --version` please?

[2015-11-19 09:51] torognes commented on #146
Sorry, I just saw in the title that you used OS X 10.8.5.

[2015-11-19 09:53] davidealbanese commented on #146
Hi @torognes!
g++ version:
`i686-apple-darwin11-llvm-g++-4.2 (GCC) 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.11.00)`
proc :  2.3 GHz Intel Core i7
mem: 8 GB 1600 MHz DDR3
grap: NVIDIA GeForce GT 650M 512 MB

[2015-11-19 10:00] xflouris commented on #146
The x86intrin.h header has the following copyright header

`/* Copyright (C) 2008-2014 Free Software Foundation, Inc. */`

GCC 4.2.1 seems to be from 2007 (see [here](https://gcc.gnu.org/gcc-4.2/)).

@torognes : Perhaps a pre-processor macro for including `emmintrin.h` and `pmmintrin.h` instead of `x86intrin.h` in case GCC version is older than 4.2.4?

[2015-11-19 10:06] torognes commented on #146
@xflouris : yes, I'll do that. Seems like x86intrin.h did not appear before gcc 4.5: https://gcc.gnu.org/gcc-4.5/changes.html

[2015-11-19 10:39] torognes commented on #146
@davidealbanese Could you try the compiling the new version 1.9.3 that I just released? We now include some other header files (`emmintrin.h` or `tmmintrin.h`) that should be available also with older compiler versions.

[2015-11-19 11:04] davidealbanese commented on #146
I'm sorry, I can't. I'm trying to udate XCode and the command line tools... I understand I should've waited for...

[2015-11-19 11:29] torognes commented on #146
Okay, I've told the other user that reported the problem about the fix. Perhaps he will try to compile it.

[2015-11-19 11:29] #146 closed

[2015-11-24 10:45] torognes opened #147 "Letter case not preserved"
A user reported that vsearch and usearch7 does not behave identical regarding the letter case of sequences when mixed case was used in the input. The output from the command below was different from that of usearch7.

`vsearch -cluster_fast in -msaout v.out -qmask none -dbmask none -id 0.96 -self -minsl 0.9 -query_cov 0.9 -target_cov 0.9 -maxaccepts 0 -maxrejects 0 -gapopen 3I/0L`

See details on

[2015-11-24 15:22] davidealbanese opened #148 "Add --fastq_eestats command"
Dear @torognes, I'd like to suggest to include the `--fastq_eestats` command (http://www.drive5.com/usearch/manual/cmd_fastq_eestats.html). The output is a fixed tab-delimited text and it reports Qs and EEs in terms of the mean and quartiles.

Thank you.

[2015-11-25 14:25] torognes commented on #148
Thanks for the suggestion. I think it is a good idea and will try to implement it in the next release.

[2015-11-25 16:41] torognes commented on #147
Some initial observations about usearch 7:

1) It seems like cluster_fast ignores all masking options (`-qmask`, `-dbmask`, `-hardmask`). You can write whatever you want as an argument to the first two (`-qmask`, `-dbmask`) without any warning. It always behaves as if `-qmask soft` was in effect. If all input sequences are just lower case there will only be singletons, no clustering.

2) It seems

[2015-12-01 14:52] torognes opened #149 "Incorrect abundance in subsample output"
When using sizeout with fastx_subsample the output abundances seems incorrect.

[2015-12-01 14:53] torognes commented on #149
Sorry, they are actually correct.

[2015-12-01 14:53] #149 closed

[2015-12-02 22:09] lucaz88 opened #150 "relabel issue duruing --derep_fulllength"
Hi everyone,
running the following command:
~/vsearch-1.9.3-linux-x86_64/bin/vsearch --derep_fulllength input.fasta --sizeout --fasta_width 0 --relabel denovo --output seqs_derep.fa -uc seqs_derep_uc.txt

I get this:

GCTCCTACC[....]

GCACCTACC[....]

GCACCTACC[....]

It seems that the ticker doesn't increase so I always get the same new label for each unique seq.

Thanks a lot for your support,
c

[2015-12-03 08:35] torognes commented on #150
Thank you for reporting this bug. This issue is now fixed in version 1.9.4 just released.

[2015-12-03 08:35] #150 closed

[2015-12-04 10:41] frederic-mahe commented on #139
Hi @torognes, hi @xflouris,

I just tried a fresh installation of vsearch on a new computer and I obtained the following error:
[code]
It seems that the ac files embedded in the GitHub repository are in conflict with the version of autotools installed on that new machine. If I launch `./autogen.sh` first, things are OK.

Additionally, the vsearch clone repository on my primary computer refused to

[2015-12-04 12:14] torognes commented on #139
I see your point @frederic-mahe. Perhaps we should drop those files and say that autotools (version 2.63) is required if you want to build from source. After all we do require other development tools like gcc etc in that case.

Alternatively, we could instruct those who already have autotools installed to run `autogen.sh`.

[2015-12-07 13:51] torognes commented on #147
I am not sure about what to do here. We can pass the case of the letters though unmodified, that's no problem. However, the behaviour of usearch regarding masking and clustering is confusing. The actual behaviour seems to be different from the documentation and the defaults are non-standard, as described earlier. I do not know if we should try to be as similar as possible, if we should just ignore

[2015-12-07 18:16] colinbrislawn commented on #147
I'm not too worried about being slightly different from usearch. Previously, you have chosen to make vsearch different, like to extend functionality (like adding `--relabel` and it's variations to more commands). You have also changed vsearch to improve performance (changing kmer selection and comparison). In the case of kmer selection, you were working with incomplete information and chose the op

[2015-12-07 20:07] nikosdarzentas commented on #147
In general, and in line with @colinbrislawn and even the introductory text of VSEARCH, I would definitely not propagate confusing or plainly wrong behaviour from USEARCH - users will appreciate that, even if they have to modify aspects of their work (unlikely in this case).

Practically then, I'd prefer (for consistency if nothing else, given that there is sequence comparison involved) to have mas

[2015-12-11 13:43] torognes opened #151 "Rereplication"
In some cases it could be useful with a command for rereplication (or replication or duplication or un-dereplication or whatever) of a dataset that has been dereplicated. It should restore multiple identical copies of sequence according to the orginal abundance.

[2015-12-12 17:33] frederic-mahe commented on #151
It could be useful. Meanwhile, for users that might be interested, here is a way to do it in a bash shell, for a fasta file with swarm's abundance annotations:
[code]
or for a fasta file with usearch style abundance annotations:
[code]

[2015-12-13 04:35] colinbrislawn commented on #151
People may find this useful. Qiime has something similar:
http://qiime.org/scripts/inflate_denoiser_output.html

On the other hand, this is a kind of an anti-feature. It could confuse novice users because it does not truly 'undo' dereplication; at some point I will have to explain why `--rereplicate` did not return all the unique Qiime sample IDs to someone's seqs.fna file. Also, support for a con

[2015-12-15 01:09] colinbrislawn commented on #134
This can be closed! Issues can be reported at
https://github.com/biocore/conda-recipes/

[2015-12-15 07:54] torognes commented on #134
Thanks!

[2015-12-15 07:54] #134 closed

[2016-01-05 21:24] annaship opened #152 "usearch_local"
What should I use instead of usearch's option "usearch_local", which allows to avoid a global alignment when query sequences are huge (or just very uneven)? I tried to use usearch_global for contigs against a rRNA ref db. Maybe I should use another options?
Thank you.

[2016-01-06 00:45] colinbrislawn commented on #152
Vsearch does not currently support local alignments. :-(

For for local nucleotide alignments, have you considered bwa-mem? For
proteins, have you considered diamond? Both are open source, highly cited,
and on github.

On Tue, Jan 5, 2016, 1:24 PM annaship <notifications@github.com> wrote:

[2016-01-06 00:50] annaship commented on #152
Thank you for the information! I'll try.

On Tue, Jan 5, 2016 at 7:45 PM, Colin Brislawn <notifications@github.com>
wrote:

[2016-01-06 16:32] torognes commented on #147
This issue relates to chimera detection and searching as well, both regarding how usearch performs masking and the letter case in the output files. I am working on the issue but I'll need to get an overview how things seem to work and how to best resolve the issue.

[2016-01-08 09:24] davidealbanese opened #153 "Wrong alignment results in usearch_global"
--fastapairs and  --userout (--userfields options: qrow, trow) options in usearch_global seem to return wrong alignments. --alnout seems to work fine.

[2016-01-08 09:34] torognes commented on #153
Thank you for reporting this problem. Could you please give some more details about the problem? A small example would be perfect. Otherwise it is difficult to reproduce the problem and fix it.

[2016-01-08 10:45] davidealbanese commented on #153
Dear @torognes, in attachment a simple example. The command line I used is (vsearch 1.9.5 osx):
[code]
As you can see, the alignments in `aln_fastapairs.fasta` and `aln_userout.txt ` are incorrect.

Thank you,
Davide

[example.zip](https://github.com/torognes/vsearch/files/82538/example.zip)

[2016-01-08 10:51] torognes commented on #153
Thank you, @davidealbanese! I'll look into it right away.

[2016-01-08 13:40] torognes commented on #153
This bug should be fixed in the new release of vsearch version 1.9.6. Thanks again for reporting the bug!

[2016-01-08 13:40] #153 closed

[2016-01-08 13:44] davidealbanese commented on #153
Thank you @torognes!

[2016-01-11 13:56] felixeye opened #154 "automake 1.15"
Hi guys,

here is a really great alternative to **usearch**. Thanks a lot for this gift.
I just have a small question around the installation step, the make command seems to complain about **automake 1.15**. In my case I have **automake-1.13**, so I adapted the Makefile to the 1.13 and **vsearch** compile without any error.
My question is do you have any specific reason(s) to use the version 1.15?

[2016-01-11 14:33] torognes commented on #154
Hi @felixeye! We are using autoconf version 2.63 that seems to require automake 1.15. This is the earliest version that we have tested. It may work well with even earlier versions. If you are using an earlier `autoconf` and `automake`, you could try to change the fourth line with `AC_PREREQ([2.63])` in `configure.ac` to an older version number and then recompile. You should probably also run `auto

[2016-01-11 15:02] felixeye commented on #154
Great!
It works just fine.
Thank you very much @torognes

[2016-01-11 15:04] #154 closed

[2016-01-11 15:04] #152 closed

[2016-01-12 19:59] torognes commented on #147
Just released version 1.9.7 to fix this problem. Sorry for taking so long. Had to investigate the behaviour of usearch under various circumstances and how to best handle upper and lower case, Ns, soft/hard masking etc to decide the best way forward.

If no masking is specified with `--qmask none` and/or `--dbmask none` the letter case of the input sequences are now unchanged in the output files, a

[2016-01-12 20:06] #147 closed

[2016-01-14 00:40] colinbrislawn opened #155 "Request: uchime score in fasta label"
I want to second a [suggestion](https://github.com/torognes/swarm/issues/43#issuecomment-76920764) that @frederic-mahe made awhile ago.

I would find it convenient to have the uchime score appended to the fasta read label, like this:
[code]

Ideally, the label would be different for `uchime_denovo` and `uchime_ref` so you could run a file through both methods and get annotations like this:
[code]

[2016-01-14 09:08] nikosdarzentas commented on #147
Great work, with the necessary attention to detail,
thank you.

[2016-01-15 09:08] torognes commented on #155
Thanks for the suggestion, @colinbrislawn ! I'll add this in the next release.

[2016-01-20 09:05] torognes opened #156 "Avoid progress indicator if stderr is not a terminal"
Check if stderr is a terminal with (isatty(fileno(stderr)) and avoid updating the progress indicator when it is not a terminal.

[2016-01-22 09:55] torognes opened #157 "Segmentation fault with uchime_ref"
The command `vsearch --uchime_ref BioMarKs.fsa --db Rfam_11_0.repr.fasta --chimeras chimeras.fasta` terminates with a segmentation fault after 4% progress. Both on Mac and Linux.

[2016-01-22 10:08] torognes commented on #157
There is a 3bp sequence in BioMarks.fsa that causes the crash.

[2016-01-22 11:26] torognes commented on #157
Fixed in version 1.9.8 just released.

[2016-01-22 11:26] #157 closed

[2016-01-25 16:08] torognes opened #158 "Database sequences in lower case are being masked by default"
By default, lower case residues in database sequences are being masked. This bug was introduced inadvertently in version 1.9.7. By default the case should be ignored and the sequences should be dust-masked. This matters for usearch_global and uchime_ref and possibly other commands.

See also issue #147 and the following thread on the VSEARCH Forum:

https://groups.google.com/forum/#!topic/vsearch-

[2016-01-25 16:12] torognes opened #159 "Remove unaligned part of alignment in uchimealn files"
The left or right part of the alignment shown in uchimealn files may contain long parts of the A and B parent sequences that are not aligned to the query. These should be removed, as in uchime.

[2016-01-25 19:33] torognes commented on #158
Problem fixed in version 1.9.10 just released.

[2016-01-30 02:40] zachcp commented on #39
Hi @torognes,

Thank you for your fantastic software.

I wanted to voice support for this option. I would like to use this in the context a makefile where I can perform some streaming quality filtering and pipe it into merge_pairs. Right now I trim and write to a file before merging but  pipes/process substitution would be a more performant/elegant way to do it

Thanks again,
zach cp

[2016-02-01 15:35] torognes commented on #39
Hi @zachcp ! Thanks for your suggestion. If you want to merge FASTQ files by piping the results of quality filtering into vsearch, how would you supply all the input through one pipe? Do you use a kind of interleaved format where the sequences from the two ends are both found in the same file (121212...)? At the moment, vsearch requires these reads to be in two separate files. - Torbjørn

[2016-02-01 16:08] zachcp commented on #39
Hi @torognes,

Thanks for getting back to me!

I was thinking of using vsearch in the context of a Makefile where quality trimming and merging can be done in a single, streaming step. Compare the following two examples:
[code]

[code]

In the first case I pipe my forward/reverse fastq though Seqtk prior to merging and save them to files. I then use these files in search, and then  delete them. In

[2016-02-01 16:31] torognes commented on #39
@zachcp , ok, thanks, now I see what you mean. I'll try to change vsearch so that it will generally accept input from pipes as well and not just ordinary files. But it will require some restructuring and changes to the code so it may take some time. - Torbjørn

[2016-02-08 15:45] f-heeger opened #160 "--relabel not working with --consout"
I am not sure if this actually a bug or "working as intended", but when I use the --relabel and --consout options together for --cluster_size, my consensus sequences are not relabeled but instead look like this:
`centroid=intitalSequenceID;seqs=1822;size=1822;`

[2016-02-10 14:59] torognes commented on #160
Thanks for pointing this out. I will relabel the consensus sequences in the next release.

[2016-02-11 19:56] fgvieira opened #161 "Add options to filter sequences and consensus sequences"
Hi all,

I've only recently discovered VSEARCH but I must say, so far, I am pretty impressed... It is super fast and it seems to get the job done pretty well.

Right now I am mostly interested on the clustering algorithm but there is no way to filter sequences based on proportion/number of masked bases (as these sequences will most probably not be part of any meaningful alignment) like there is fo

[2016-02-11 20:15] dereneaton opened #162 "inconsistency with merging pairs"
I've been testing the `--fastq_mergepairs` function and I'm having trouble understanding why some reads are failing to merge while others are merging. Below is an example of two pairs in my data set that both match perfectly (as shown by my hand alignment below), and so are expected to merge, but vsearch only merges the second one and not the first:

Alignment by hand:
[code]

I've tried toggling

[2016-02-11 20:53] dereneaton commented on #162
For what it's worth, I just tested and found that the read-merging program PEAR also only merges the second pair and not the first from my example. However, I remain baffled as to why.

[2016-02-11 21:06] torognes commented on #162
It appears that the sequences in the second input file are not reverse complemented as the programs expect them to be. If you use the file below as `test_R2.fq` they will both be merged successfully as you indicated.

[code]

The one merged sequence you anyway obtained has many mismatches and should probably have been rejected.

I am about to finish a much improved implementation of `fastq_mergepa

[2016-02-11 21:14] dereneaton commented on #162
Oh, that is such an obvious solution. Thanks @torognes !!

[2016-02-11 21:14] #162 closed

[2016-02-11 22:33] torognes commented on #160
This issue should be solved in version 1.10.0 just released.

[2016-02-11 22:33] torognes commented on #156
This issue should be solved in version 1.10.0 just released.

[2016-02-11 22:34] torognes commented on #155
This issue should be solved in version 1.10.0 just released. Use the new `--fasta_score` option.

[2016-02-11 22:34] torognes commented on #151
This issue should be solved in version 1.10.0 just released.

[2016-02-11 22:35] torognes commented on #148
This issue should be solved in version 1.10.0 just released.

[2016-02-11 22:35] torognes commented on #143
This issue should be solved in version 1.10.0 just released.

[2016-02-11 22:36] torognes commented on #44
This issue should be solved in version 1.10.0 just released. The fastq_mergepairs command is now parallelized and very fast. It's been better tested as well.

[2016-02-12 00:22] colinbrislawn commented on #155
:star2: Oh this is awesome! I look forward to using this great feature.

[2016-02-12 00:22] #155 closed

[2016-02-12 10:49] #160 closed

[2016-02-12 16:25] #151 closed

[2016-02-12 16:25] #148 closed

[2016-02-12 16:25] #143 closed

[2016-02-12 23:23] epruesse commented on #39
+1 for this feature

Re need for rewinding:

There is no real need for compressed streams. When using pipes, it's easy enough to chain gunzip/bunzip2 outside of vsearch. So just assume uncompressed data if S_ISFIFO() is true.

That leaves testing for FastQ vs FastA. Since w/o compression, the file is guaranteed to be a FILE* and only the first character is needed, you can use getc() and ungetc() t

[2016-02-15 05:48] wwood opened #163 "--self doco error?"
I notice this in vsearch 0.1.10 -h
[code]
Is that right or should they be switched?

[2016-02-15 08:44] frederic-mahe commented on #163
Hi @wwood,

this is correct. vsearch behaves like usearch, and usearch's selfid is defined as [Ignore hits to identical sequence](http://drive5.com/usearch/manual/opt_selfid.html).

Here, "id" means "identity", as in sequence identity.

Best,

[2016-02-15 10:23] wwood commented on #163
ah, ok, good good. Nothing to see here then.

[2016-02-15 10:23] #163 closed

[2016-02-15 10:37] torognes commented on #161
Hi @fgvieira

Thanks for the suggestions. We will consider them for inclusion in future releases.

Adding filtering on the number of masked bases should be straightforward and an enhancement for several commands.

Regarding multiple passes and different consensus sequences. Do you mean doing multiple clusterings one after another using the output from the previous pass as input to the next pass? O

[2016-02-15 12:52] fgvieira commented on #161
Hi @torognes

Regarding multiple passes, I'm referring to multiple clusterings one after another using the output from the previous pass as input for the next pass. Ideally it could go until no there are no more changes in clusters, but it could also be user-defined...

Regarding control over the consensus output, my general idea is to make it more flexible so that the user can easily control/filt

[2016-02-16 21:37] torognes opened #164 "Do not truncate FASTQ labels (for fastq_mergepairs)"
As reported by a user on the VSEARCH Forum

[2016-02-16 21:43] torognes commented on #158
Seems like the problem persists, at least for uchime_denovo.

[2016-02-16 23:55] colinbrislawn commented on #39
:+1: for pipes. Power users would get so much mileage out of this. For example

[code]

Even better, supporting pipes would instantly close several issues: #144 #115
It would even close #100!
[code]

[2016-02-17 08:28] frederic-mahe commented on #39
Hi @colinbrislawn,
[code]
nice usage of [named pipes](https://en.wikipedia.org/wiki/Named_pipe), a little known feature of modern shells.

[2016-02-17 19:21] colinbrislawn commented on #39
Thanks! I'm looking forward to using these pipes, whenever they become
supported.

I'm not sure pipes are needed for all inputs and outputs, but they would be
really handy for certain functions.
Colin

On Wed, Feb 17, 2016, 12:28 AM Frédéric Mahé <notifications@github.com>
wrote:

[2016-02-18 16:25] frederic-mahe opened #165 "New option to output sequence length"
This is low priority, as it can be easily done with a few shell commands.

An option to output sequence length (in nucleotides) would be useful. It could be name `--lengthout`, on the same model than `--sizeout`, `--eeout`. It could be inserted in fasta/fastq headers as such: `;length=243[;]`.

[2016-02-19 13:47] torognes commented on #39
Thanks for all comments. Seems this will be a very useful feature.

The idea of using the ungetc function suggested by @epruesse is brilliant. I hope it will work. Thanks!

[2016-02-22 09:32] torognes opened #166 "Make OTU tables"
Add options to create OTU tables directly, as described [here](http://drive5.com/usearch/manual/mapreadstootus.html).

[2016-02-22 09:33] torognes commented on #166
See also the VSEARCH Forum post:

https://groups.google.com/forum/#!topic/vsearch-forum/83tCXeQ1mEw

[2016-02-22 10:20] davidmartinad200 commented on #166
Thanks ,
Just in case it can help others on the mean time i wrote a perl script that will take the uc file and convert it to a OTU table. It requires the perl module Text::Table. Change the filename variable accroding to the name of your ucfile.

My ucfile looks like this:
[code]

[code]

here is how the output will look. Otus as rows and sample as column.

[code]

[2016-02-22 17:10] colinbrislawn commented on #166
:+1: Love it!

@torognes Which OTU table format would you support? There is the flat text format, which is common and easy, BIOM v1 which is widely used, and BIOM v2.1 which is the new qiime default.

@davidmartinad200 :smile: There has got to be 20 variations of this script. I quite like this one in python:
https://github.com/leffj/helper-code-for-uparse/blob/master/create_otu_table_from_uc_file.

[2016-02-23 14:38] torognes commented on #166
@colinbrislawn All of them, probably. But it will have to wait a while. Need to finish manuscript! :-)

[2016-02-23 14:47] torognes commented on #158
Not a bug. See VSEARCH Forum.

[2016-02-23 14:47] #158 closed

[2016-02-23 14:56] torognes commented on #164
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/vsearch-forum/PTaSJ0aE1GY/sdviT2mYHgAJ

[2016-02-23 15:55] torognes commented on #164
This issue is fixed in VSEARCH 1.10.1. No need to specifiy "--notrunclabels".

[2016-02-23 15:55] #164 closed

[2016-02-23 18:41] colinbrislawn commented on #166
Awesome!

[2016-03-07 08:43] frederic-mahe opened #168 "Output expected errors to fasta format too"
The command `--fastq_filter` can add expected errors to sequence headers (`--eeout`), but only when outputting to a fastq file (`--fastqout`). Ideally, users should be able to add expected errors to fasta output too (`--fastaout`).

[2016-03-07 09:31] frederic-mahe commented on #118
The [wiki page](https://github.com/torognes/vsearch/wiki/Chimera) on chimera detection mentions that chimera detection is monothreaded, and is a bottleneck in amplicon analysis.

To make chimera detection faster, we can modify the uchime algorithm in two ways:

1 - Uchime assumes parent sequences are two times more abundant than their chimera (parent abundance >= chimera abundance x 2). Following

[2016-03-07 18:01] colinbrislawn commented on #118
Parallel `--uchime_denovo` would be excellent!

Uh, I think that's what the UPARSE clustering algorithm already does!

The command `-cluster_otus` makes use of `-uparse_ref` internally and it could be running exactly like this, with each existing OTU centroid considered as a potential parent (instead of using a 2x abundance skew like `--uchime_denovo`). This increased sensitivity could explain why

[2016-03-10 15:18] JehanneQuentin opened #169 "Compilation error [Fasta.c]"
Hi! I'm trying to install Vsearch but unfortunately:

	mv -f $depbase.Tpo $depbase.Po
fasta.cc: In function ‘fasta_s* fasta_open(const char*)’:
fasta.cc:146:12: error: ‘bz2_lib’ was not declared in this scope
       if (!bz2_lib)
            ^
fasta.cc:149:17: error: ‘struct fasta_s’ has no member named ‘fp_bz’
       if (! (h->fp_bz = (*BZ2_bzReadOpen_p)(& bzError, h->fp,
                 ^
fasta

[2016-03-10 16:37] xflouris commented on #169
Hi @JehanneQuentin ,
there was a typo in the source code regarding a check for BZLIB. Please pull again from the repository and the code should compile fine now.

[2016-03-11 13:35] JehanneQuentin commented on #169
Perfect! Thanks :-)

[2016-03-11 13:58] #169 closed

[2016-03-14 19:23] mothur-westcott opened #170 "Windows Executable Version"
Thanks for the great addition to the bioinformatics open source software arena! It would be really nice to have a version available for Windows.  I would be willing to help work towards getting one built if you are interested.

[2016-03-15 06:42] colinbrislawn commented on #170
:+1: That would be great.

- VSEARCH would be a 'drop in replacement' across platforms (like USEARCH already is).
- Many people use Windows, including people who are new to computational biology.
- The most cited and second most cited software packages in amplicon analysis could use it.

[2016-03-16 09:33] kunstner commented on #132
Do you have any plans to implement the cluster_otus command as well? This is the only command I still use from the usearch pipeline. All other commands are already replaced by vsearch.

[2016-03-16 13:29] torognes opened #171 "Segmentation fault with usearch_global"
A user has reported a segmentation fault with usearch_global in vsearch 1.9.0 and 1.10.1.

[2016-03-16 13:37] torognes commented on #170
Thanks for the suggestion and the offer to help! I'll try to find a suitable machine to compile on locally. Meanwhile, if anyone could start finding problematic portions of the code that will not compile on Windows, including missing library functions etc, it would be helpful.

[2016-03-16 14:35] mothur-westcott commented on #170
I started making some modifications on a fork of version 1.9.10.  vsearch.h includes some ifdefs for windows and also visual studio.  The regex library was an issue, but visual studio has an extension for this if you want to use it.  I also wrote a quick parsing version in the abundance files, with ifdefs for regex.  I also ifdefed for pthreads in case that library is not present. Things got a lit

[2016-03-17 16:31] torognes commented on #132
Thanks for the suggestion. We do not have any plans to implement cluster_otus. I'll look into it and see how much it will take.

[2016-03-17 18:24] colinbrislawn commented on #132
:+1:

Of course specifics are scarce. My understanding was that it performs like `--cluster_smallmem` except that when a read does not match to an existing centroid, it is passed through `--uparse_ref` before it is allowed to become a new centroid. The `--uparse_ref` algorithm attempts to explain how a new read could derive from existing reads in a database, in a way that sounds a lot like `--uchi

[2016-03-17 18:27] torognes commented on #171
The problem occurs if there is an empty sequence in the query file.

[2016-03-18 07:59] kunstner commented on #132
@colinbrislawn: I use it for microbiome data. Actually, I have a quite smoothly running pipeline using vsearch/usearch for preprocessing and mothur for classification and Otu binning. Unfortunately, running time is quite long using this approach and it is very demanding with respect to either RAM or disk space. I was looking for an alternative approach and came across the cluster_otus command. The

[2016-03-18 11:03] torognes commented on #170
Which versions of Windows should we target? Would 64bit Windows 7 and later be ok?

[2016-03-18 11:27] xflouris commented on #170
I've tried compiling the Windows fork with a cross-compiler (i686-w64-mingw32-g++) and there is a problem when compiling `align_simd.c`. I'm getting the following error:

[code]

If I explicitly pass the `-mssse3` to the compiler then it works fine.

I'm not sure if this is a problem of the cross-compiler (I'm using version 4.9.1), but it would be nice if someone can check it with MingW directly o

[2016-03-18 16:20] torognes commented on #171
This bug is fixed in VSEARCH 1.10.2.

[2016-03-18 16:20] #171 closed

[2016-03-18 16:22] colinbrislawn commented on #170
Yes, fully patched 64bit Windows 7 would be a good target.
Windows 10 is coming on strong and will be supported into the future, so only supporting 64bit Win 10 is reasonable, through a little limiting in the immediate future.

[2016-03-18 16:33] colinbrislawn commented on #132
Hi @kunstner,
Thanks for telling me a little more about your pipeline. I've used the uparse pipeline right when it came out, but like you I value open-source science and so I switched to vsearch about a year and a half ago. VSEARCH definitely scales well and swarm scales even better, although its definition of OTU is a little esoteric and has not yet garnered the popularity it deserves.

I have no

[2016-03-19 10:13] frederic-mahe commented on #166
On his [GitHub Gist](https://gist.github.com/gregcaporaso/f3c042e5eb806349fa18), Greg Caporaso shows how to use the python module [biom](http://biom-format.org/index.html) to convert `uc` files produced by usearch and vsearch into the `biom` format (and back to OTU tables). Indeed, there are several solutions available to make that conversion.

[2016-03-19 12:35] frederic-mahe commented on #139
When you run `./autogen.sh`, you can end up with a different configuration file. When latter you try to pull a new version from github, you obtain this error:
[code]
To be able to pull, I have to discard the modified file:
[code]
In practice, I always run `./autogen.sh ; ./configure ; make -j`, so I am in favor of removing the files from the repository and indicate that autotools are required to c

[2016-03-19 16:10] frederic-mahe commented on #115
As discussed in [issue #39](https://github.com/torognes/vsearch/issues/39), the possibility to read for `stdin` would bring support for `xz` indirectly:
[code]
`vsearch` would be ready for any present and future compression formats, as long as the shell offers decompression tools. @torognes, I know you know it already, I just wanted to put it in writing for future users.

[2016-03-21 07:25] kunstner commented on #132
Hi @colinbrislawn,

my personal experience is that mothur usually mitigates OTU inflation well. But I have some data sets (with lots of samples sequenced) with quite a lot of very rare OTUs which I did not get using uparse. But for most of the data I don't see this problem.

Axel

[2016-04-06 11:16] torognes commented on #166
On overview of the options for this supported by newer versions of usearch:
http://drive5.com/usearch/manual/mapreadstootus.html

[2016-04-07 14:00] #115 closed

[2016-04-07 14:00] #144 closed

[2016-04-07 14:05] torognes commented on #79
I guess this issue can also be handled may reading from pipes (see issue #39).

[2016-04-11 09:03] torognes opened #173 "Indicate matching strand in uc file when dereplicating"
The fifth column on the H-lines in the uc file should contain the matching strand (+ or -) when using derep_fulllength.

[2016-04-13 13:22] torognes commented on #173
Fixed in version 1.11.1 just released.

[2016-04-13 13:22] #173 closed

[2016-04-13 13:22] torognes commented on #168
Fixed in version 1.11.1 just released.

[2016-04-13 13:22] #168 closed

[2016-04-13 13:22] torognes commented on #139
Fixed in version 1.11.1 just released.

[2016-04-13 13:22] #139 closed

[2016-04-22 09:43] torognes opened #174 "Improve error message when FASTQ quality values are out of range"
Notify user of the --fastq_qmax and releated options.

[2016-04-25 19:24] ZeweiSong opened #175 "Merge pair fails when there are empty sequences"
The --fastq_mergepairs function report a fatal error:

    Merging reads

    Fatal error: Invalid line 27054 in FASTQ file: Empty sequence line

I've trimmed my sequences with cutadapt, so some sequences are left empty there as place holder.

[2016-04-26 07:32] frederic-mahe commented on #175
Hi @ZeweiSong,

yes, vsearch doesn't like empty fastq entries. To avoid that, you can use `cutadapt` with the option:
[code]
I use a minimum length of 32 nucleotides, as it is also the default minimum length for downstream vsearch commands.

[2016-04-26 09:21] torognes commented on #175
Thanks for the notice. I hope to eliminate this problem in the next release.

[2016-04-27 11:56] frederic-mahe opened #176 "Compute evalues and bit scores using Karlin-Altschul statistics"
`usearch 8` now [Karlin-Altschul statistics](uses http://www.drive5.com/usearch/manual/karlin_altschul.html) to compute evalues and bit scores in search results.

[2016-04-29 16:40] colinbrislawn opened #177 "uchime_denovo on very long reads"
Good morning,

I'm interested in performing chimera checking on very long reads created using a nested dilution + PCR process (described [here](http://www.illumina.com/technology/next-generation-sequencing/long-read-sequencing-technology.html) and [here](https://pag.confex.com/pag/xxi/webprogram/Paper6752.html)). Unlike typical amplicons, which are from a single region of a single gene, these read

[2016-04-30 17:08] frederic-mahe commented on #177
Hi @colinbrislawn,

If I remember correctly, the uchime algorithm splits the query sequence into a fix number of chunks (5, I think), and the chunks are compared to potential parents (i.e. more abundant sequences). I guess using long chunks will decrease search's sensitivity and limit your ability to detect potential parents. I don't think there is an option in vsearch to control the number of chu

[2016-05-02 08:26] torognes commented on #177
As @frederic-mahe writes, the query sequence is split into parts which are searched against potential parents. It is split into 4 parts (not 5) and there is no option to select this. It might be a good idea to be able to change this, but the whole algorithm should really be evaluated properly for longer sequences.

[2016-05-02 16:16] colinbrislawn commented on #177
Good to know @torognes. Thanks for telling me more. I'll close this issue until I have a more specific issue or demonstrable error.

Personal communication implies Robert Edgar is working on chimera checking for usearch v9. Reactivating to his new work could be a good approach. Independent improvements (#118) would also be excellent.

[2016-05-02 16:16] #177 closed

[2016-05-05 15:34] ghbio opened #178 "cluster_smallmem: "Unable to allocate enough memory" error on a very large dataset"
I'm getting the error "Unable to allocate enough memory" trying to cluster a large sorted input file (37G) with 64713320 protein coding sequences, min 100bp, max 4998bp, avg 566bp. I'm using the release binary of `vsearch (v1.11.1_linux_x86_64)` on a 24 core 80GB RAM server. Here is my command and the standard output I get.

[code]

A subsample with the first 150 sequences works without problems,

[2016-05-05 16:30] fjossandon opened #179 "Wrong values in the blast6out table"
Hello,
I have just noticed that the blast6out table reported coordinates diverge significantly from what would be expected from mimicking that BLAST table format. The Query and Target Start and End coordinates in the original BLAST format correspond to the Start and End of the alignment for each sequence, but this is not what appears in the Vsearch source code (results.cc, results_show_blast6out_o

[2016-05-05 16:54] colinbrislawn commented on #178
Good morning,

I don't know what steps you have taken with `mp.cds.red.fasta`, but have you considered dereplicating your reads before clustering? This preprocessing step removes duplicate reads before clustering, and could dramatically reduce your file size so that it can work the available RAM.

You could also try renting a supercomputer from Amazon. They provide ones with [lots of RAM for a few

[2016-05-05 17:10] ghbio commented on #178
Hi, thanks a lot for your input.
I have already dereplicated the dataset with the `--derep_fulllength` option and it does a good job by slimming it down some ~5GB, but apparently not enough for my available hardware. My intention here was to confirm that my problem was RAM related before taking any further steps.

[2016-05-05 17:25] colinbrislawn commented on #178
So `mp.cds.red.fasta` is the dereplicated file, which is 5GB, right? If it still throws this memory error on a 80GB machine, feedback from the devs would be helpful.

I often use vsearch to cluster amplicon reads in the 15GB range. I also find that clustering directly is limiting. To address this, I use this nested clustering strategy. Toy example:
[code]

What's cool about this, is that the final

[2016-05-05 17:33] colinbrislawn commented on #178
I was going to mention this too. My understanding is that VSEARCH uses a [semiglobal or "glocal" alignments](https://en.wikipedia.org/wiki/Sequence_alignment#Global_and_local_alignments), which is perfect for amplicons which come from the same gene. I'm not sure how well it works from different genes of different lengths. Just something to be aware of.

@torognes Can you verify the alignment metho

[2016-05-05 20:00] ghbio commented on #178
Again, thanks a lot for your reply!
I think I was misleading before: the 37GB file is the *already* dereplicated dataset. Dereplication only shaves 5GB off my file. This means that my error could still be due just to a lack of RAM. I don't know if in this case your nested approach would work either.
You raise a good point with the alignment method. I wanted to use [cd-hit-est](http://weizhongli-la

[2016-05-05 20:15] colinbrislawn commented on #178
Oh thank you. I see the issue now.

Yeah, dereplication will work much better with amplicons because the ceiling of diversity is much lower; dereplication takes reduces my size by 10x, and discarding singleton reads by 100x. Probably not a good fit to protein coding genes.

At this scale, I think [a supercomputer from Amazon for ~$5 hour](http://www.ec2instances.info/?selected=cr1.8xlarge) would a

[2016-05-05 20:21] ghbio commented on #178
yes, that's right. Although it would be nice to get an estimation of computing time beforehand!
Cheers

[2016-05-05 20:33] frederic-mahe commented on #179
Hello @fjossandon,

vsearch outputs blast6out results exactly like usearch, for compatibility reasons. As written in vsearch's documentation:
[code]
We are aware that some information is missing, so we introduced new optional columns:
[code]
You can compose a custom output table, with the above columns, by using the `--userout` and the `--userfields` options.

[2016-05-05 21:10] colinbrislawn commented on #178
Yeah, clustering slows down as the number of hits in the database increases, so estimating time is hard.

Just to 'play devil's advocate', if you could pay for 37GB of DNA sequencing, why can't you pay for a super computer for processing? A full day of compute time costs $84 (24h x $3.5), which must be less than sequencing cost.

[2016-05-05 21:39] fjossandon commented on #179
Hello @frederic-mahe
Thanks for the quick reply!

At the time of writing the report I only had found the http://www.drive5.com/usearch/manual/blast6out.html page referenced on results.cc source code when searching for the documentation, but now I found the PDF manual which is more detailed.

I can work with the --userout and the --userfields to create the table with the columns I was expecting for

[2016-05-06 08:30] frederic-mahe commented on #179
We need to work on the output of the `bit score` and `evalue` columns (see [Issue #176](https://github.com/torognes/vsearch/issues/176)). Maybe we can use that opportunity to make the `qilo`, `qihi`, `tilo` and `tihi` the default for the `--blast6out` option.

Thanks for the suggestion.

[2016-05-06 11:50] ghbio commented on #178
Yes, I agree with you... but as sometimes happens "it's complicated". Nevertheless, it would also be interesting to be able to estimate the amount of RAM needed in order to tune the size of the computer

[2016-05-08 23:56] colinbrislawn commented on #178
I've been there too. 😭

Good luck Pablo!

[2016-05-09 14:52] torognes commented on #179
Hello @fjossandon!

Thanks for your suggestions.

Regarding the `--blast6out` option: We have tried to make vsearch very similar to usearch (version 7) to make it easy for user to switch over with minimum fuss. Therefore we choose to keep the blast6out file format similar to usearch 7. I haven't checked usearch 8 in this regard.

There is also another good argument for keeping the values as they a

[2016-05-10 09:15] torognes commented on #176
As far as I can see usearch (version 8) does not compute e-values or bit scores for global alignments, only for local alignments. Karlin-Altschul statistics (as in Blast) are only defined for local alignments.

[2016-05-10 20:10] fjossandon commented on #179
Hello @torognes ,

I understand your desire to be consistent with previous releases, I love consistency, but the argument name "blast6out" imply assumptions for new users (to use blast format), specially for Blast users. So is consistent with Usearch but inconsistent with Blast.

Hmm, in my humble opinion, the start matching always 1 is not useful because is obvious and a fixed value, and the end

[2016-05-16 21:22] ZeweiSong opened #180 "New option for trimming the sequence based on maxEE"
Is it possible to have an option so that the sequence will be trimming from the end, base by base, to the length that its maxEE is lower than the threshold?

Thanks!

[2016-05-17 07:42] frederic-mahe commented on #180
Hi @ZeweiSong,

I work mostly on targeted sequencing (e.g., 16S rRNA) and I perform a filtering based on the expected error **after** the merging of paired-end reads. In fact I perform the EE-filtering (i.e. discard sequences > maxEE) after clustering, at the very end of the OTU delineation pipeline. In that context, the EE-trimming you suggest does not seem necessary.

On the other hand, EE-trimm

[2016-05-17 10:13] frederic-mahe commented on #179
As @fjossandon suggested, we can try to improve the documentation to warn users about the `--blast6out` option. I pushed a modification of the `man` page to try to make it clearer that this is a blast-like table, not a blast result. Feel free to build on that.

We have to maintain compatibility with usearch, so that's pretty much all we can do for the `blast6out` option. I suggest we close that is

[2016-05-17 10:14] frederic-mahe commented on #176
You are right. I forgot it only applies to local pairwise alignments.

[2016-05-17 10:14] #176 closed

[2016-05-31 13:21] vmikk opened #181 "Consensus sequence with Ns"
Dear Dr. Rognes and the VSEARCH team,

Probably there is a small bug with the consensus sequence computation for OTU clusters where the ambiguous nucleotide symbol (N) will be substituted to A.

Unfortunately we were not able to merge paired-end reads due to the insufficient length of overlap and we decided to work only with forward (R1) fragment. Because the length of the reads may vary due to qu

[2016-06-01 10:10] frederic-mahe commented on #181
Hi Vladimir,

thanks a lot for the reproducible example and the detailed explanations. Just to be sure, the expected behavior is to preserve the N-tails in the consensus, correct?

[2016-06-01 11:39] vmikk commented on #181
@frederic-mahe
Thank you for the reply. Yes, we expected that the N-tail will be preserved in the consensus.

[2016-06-02 12:29] torognes commented on #181
Hi! Thanks for reporting this problem. I think we have to consider this as a bug. I will fix it in the next release.

[2016-06-06 23:42] fjossandon commented on #179
@frederic-mahe , thanks for the documentation improvements!! Since usearch compatibility is so important and blast6out settings will be kept, I will close the report then.

Cheers,

[2016-06-06 23:42] #179 closed

[2016-06-10 18:52] crosenth opened #182 "--query_cov and --userfield qcov"
I am seeing hits with qcov < --query_cov in the --userout results.  Should this be?  I can supply test files if necessary.

`vsearch --usearch_global INPUT --db DB --id 0.0 --query_cov 0.95 --userfields qcov --userout OUTPUT`

[2016-06-11 05:29] frederic-mahe commented on #182
Hi @crosenth,

I think it might depend on the iddef and the way terminal gaps are taken into account. It would be great if you could provide a minimal example triggering the problem (one input sequence and one db sequence).

[2016-06-14 00:34] crosenth commented on #182
Attached are a couple 16s query and target sequences.  Both query sequences generate alignments to their target sequences below the --query_cov threshold but end up in --userout matches.fasta.  I would expect both query sequences to go to --notmached notmached.fasta.

`vsearch --usearch_global query.fasta --db target.fasta --query_cov 0.95 --notmatched notmached.fasta --userout matches.fasta --id

[2016-06-14 09:45] torognes commented on #182
Hi @crosenth ! Thank you for providing the test files. I've tried it now and it seems like vsearch makes a mistake here by not excluding the matches with too low query coverage. I will look into the problem and hope to provide a fix soon.

[2016-06-14 09:58] torognes commented on #182
I found the problem in the code. Thank you for spotting this problem!

[2016-06-14 17:44] crosenth commented on #182
Great thanks for the update!

[2016-06-14 19:46] torognes commented on #182
I'll leave this issue open until it is fixed and released.

[2016-06-21 15:20] torognes commented on #182
This issue is fixed in version 1.11.2 just released.

[2016-06-21 15:20] torognes commented on #181
This issue is fixed in version 1.11.2 just released.

[2016-06-21 15:20] #181 closed

[2016-06-21 15:20] #182 closed

[2016-06-21 17:11] vmikk commented on #181
@torognes Thank you very much!

[2016-06-23 12:14] frederic-mahe commented on #39
I think adding support for reading from / writing to pipes is a major change, allowing for a new version number `vsearch 2.0.0` :-). It should not break existing scripts and vsearch commands, but it offers the possibility to rewrite and simplify workflows.

[2016-06-23 12:47] torognes commented on #39
I have started implementing support for reading from pipes. Writing should already work.

Automatic detection of compressed data from pipes is very difficult to implement correctly, especially followed by automatic FASTA/FASTQ detection. In order to simplify the implementation I have decided to support compressed input from pipes only when a specific option is specified, e.g. `--gzip` or `--bzip2`

[2016-06-23 13:02] frederic-mahe commented on #39
If vsearch reads and write from pipes, is there really a need to support compressed data? It is a genuine question, as I cannot imagine a case where streaming compressed data is the only option. In general, I use anonymous pipes (or named pipes when I need to do fancy stuff).

[2016-06-23 13:05] torognes commented on #39
I do not think it is really necessary to support compression, just a convenience.

[2016-06-24 15:30] torognes commented on #39
Available now in version 2.0.0.

[2016-06-24 15:34] torognes commented on #79
With the support for pipes in version 2.0.0, multiple databases may be piped into vsearch. Example:

`vsearch --usearch_global query.fasta --db <(cat db1.fasta db2.fasta) --id 0.9 --alnout output.txt`

or

`cat db1.fasta db2.fasta | vsearch --usearch_global query.fasta --db - --id 0.9 --alnout output.txt`

[2016-06-24 15:38] torognes commented on #100
As suggested by @colinbrislawn, this may easily be carried out by piping the vsearch output through `sed` or a similar tool:

`vsearch --derep_fulllength input.fasta --output - | sed -e "s/;/|/g" > output.fasta`

[2016-06-24 15:40] torognes commented on #115
Reading xz compressed files can be achieved using the new support for pipes in version 2.0.0.

[2016-06-24 15:41] #100 closed

[2016-06-24 15:41] #79 closed

[2016-06-25 15:49] zachcp commented on #39
Very nice, @torognes , very nice. I look forward to trying this. Thank you!

[2016-06-29 10:23] torognes commented on #180
Hi @ZeweiSong

Thanks for your suggestion. There is currently no option to do exactly what you are asking for, neither in usearch or vsearch, as far as I know. The `fastq_filter` command with the  `fastq_truncqual` option can trim based on quality score and using `fastq_maxee` it can discard sequences with too many expected errors. Perhaps you could use these to achieve something similar to what y

[2016-06-29 10:24] #39 closed

[2016-06-29 18:24] mothur-westcott opened #183 "Comparing vsearch chimera detection with uchime - denovo"
I am trying to compare the results of vsearch with uchime using the denovo method.  I am using uchime version 4.2.40 and vsearch version v2.0.0_osx_x86_64.  Uchime is identifying 43.8% chimeras in my test file, but vsearch is finding 0%.  This seems odd and I am hoping you can help me figure out what is causing the difference.  The commands I am running are:

"./vsearch"  --uchime_denovo "stabilit

[2016-06-29 18:33] astanabe commented on #183
FASTA defline format for UCHIME public domain version and VSEARCH/USEARCH is different like below.

UCHIME

VSEARCH/USEARCH

[2016-06-29 18:47] mothur-westcott commented on #183
Thanks!

[2016-06-30 08:16] torognes commented on #183
After changing the file format I got these results:

[code]

[2016-06-30 08:16] #183 closed

[2016-06-30 09:56] torognes opened #184 "Segmentation fault when masking very long sequences"
Due to use of alloca.

[2016-06-30 09:56] torognes commented on #184
Fixed in 2.0.1.

[2016-06-30 09:56] #184 closed

[2016-07-05 07:13] JustGitting opened #185 "vsearch: unrecognized option '-cluster_otus'"
Hi,

I'm keen to use vsearch in place of usearch. A program I'm trying out is [IMTORNADO ](https://github.com/pjeraldo/imtornado2) which depends on USEARCH. I tried to substitute USEARCH with VSEARCH, but encountered the following error ([imtornado:issue2](https://github.com/pjeraldo/imtornado2/issues/2))  :

**vsearch: unrecognized option '-cluster_otus'**

Does vsearch offer such functionality o

[2016-07-05 23:53] JustGitting commented on #185
Hi @torognes

Thanks for your quick reply.

The USEARCH website lacks details about how cluster_otus works. Did you have any other references that would help clarify the algorithm used?

Regards

[2016-07-06 00:09] colinbrislawn commented on #185
Hello @JustGitting

The usearch website does indeed lack a clear description of the `--cluster_otus algorithm`. Perhaps these pages will help:
http://www.drive5.com/usearch/manual/uparseotu_algo.html
http://www.drive5.com/usearch/manual/uparseref_algo.html

My understanding of `--cluster_otus` is that it clusters similar sequences together similar to `--cluster_smallmem`, but only allows an unmatc

[2016-07-06 00:27] JustGitting commented on #185
Thanks @colinbrislawn, but it would appear to be only partial support at this stage.

[2016-07-18 15:46] GreetDB opened #186 "--minseqlength and --maxseqlength options do not work for filtering"
Hello,

I'm having a problem with the general options --minseqlength and --maxseqlength.
I would like to filter my reads so that I only keep the ones having a length between 60-65. Therefore, I'm using the following command:

[code]

My merged.fastq files look like this (one having length > 65 and one having length < 60):

[code]

However, my output file still contains all 3 sequences and returns:

[2016-08-01 09:55] torognes commented on #186
Hi

The general options `minseqlength` and `maxseqlength` does not apply to the `fastq_filter` command. You may use the `fastq_minlen` option to specify the minimum length to `fastq_filter`, but there is no option for specifying the maximum length. There is an option for truncation sequences though, `fastq_trunclen`. These options are made for compatibility with usearch.

Sorry for the late reply,

[2016-08-01 20:01] nextgenusfs commented on #180
@ZeweiSong, if you want a solution in the meantime, you can do this in Python/Biopython fairly easily (of course this is much slower than it would be in vsearch/usearch):

Regular maxEE filtering can be done like this:
[code]

And this can be adapted to truncate the read when the maxEE is reached like this:
[code]

You can run the generator from a script like:

[code]

[2016-08-01 21:17] nikosdarzentas commented on #180
Dear all,

I recently found this:
https://github.com/nisheth/meeptools
...which I believe is what @ZeweiSong <https://github.com/ZeweiSong> asked
for. Indeed an interesting feature.

Best wishes.

Nikos

http://bat.infspire.org | www
nikosdarzentas | Skype

On 1 August 2016 at 22:01, Jon Palmer <notifications@github.com> wrote:

[2016-08-02 04:37] jorvis opened #187 "Illegal instruction"
I downloaded vsearch-2.0.2-linux-x86_64 and when I try to run it I get this:

[code]

[2016-08-02 04:41] jorvis commented on #187
As an update, I was able to build it from source and execute it successfully.

[2016-08-02 05:40] colinbrislawn commented on #187
Does the bioconda package work for you or does it throw the same error? I'm curious to see why some builds work while others don't.
https://anaconda.org/bioconda/vsearch

[2016-08-02 09:10] xflouris commented on #187
@torognes : I've cross-checked it with Debian/Ubuntu/CentOS. Compiling from source works on all systems, but using the pre-compiled binaries fails on Ubuntu/CentOS.

Debian: works fine (below uname -a)
Linux callisto 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2+deb8u3 (2016-07-02) x86_64 GNU/Linux

Ubuntu: gives Illegal instruction
Linux hitssv109 2.6.32-33-server #72-Ubuntu SMP Fri Jul 29 21:21:55

[2016-08-02 10:22] torognes commented on #187
Strange... The binary is is compiled on Centos!

[code]

It might have been compiled with an old gcc version though. I'll try a newer one.

[2016-08-02 15:01] torognes commented on #187
Thank you for reporting this problem. The problem was due to bad compiler flags (e.g. -mavx) on Linux. Fixed in version 2.0.3 just released.

[2016-08-02 15:02] #187 closed

[2016-08-03 12:55] torognes opened #188 "Rolling hash function?"
Consider using a rolling hash function in some places e.g. in unique.cc where we need the hash of every k-mer of the sequence. Either by rolling our own or using one of these:

ntHash:

http://bioinformatics.oxfordjournals.org/content/early/2016/08/01/bioinformatics.btw397.full.pdf+html

http://www.bcgsc.ca/platform/bioinfo/software/nthash

https://github.com/bcgsc/ntHash

(license looks problemat

[2016-08-03 14:46] torognes opened #189 "Allow shorter word lengths"
From the VSEARCH Forum:

I realized that the wordlength option is restricted to values between 7-12. I work with very small sequences and would need a wordlength of 4 or 5 to make sure the aligner does a full job. Would it be possible to open up the restriction in future version?

[2016-08-12 12:22] tobiasgf opened #190 "Filtering options for fastA sequences also"
I would very much like to have some of the options available for fastq_filtering available also for filtering fastA sequences.
Especially I would like to be able to filter fasta files with these options (from fastq_filter)
--fastq_maxns INT
--fastq_minlen INT
--fastq_stripleft INT
--fastq_trunclen INT

Would that be possible to implement (or maybe the options do exist, and I just can figure it out

[2016-08-17 14:27] nikosdarzentas opened #191 "typo in the manual"
"--quiet Suppress all output to **stdout** and **stdout** except for warnings and fatal error messages."

...there should be "stderr" there, right?

[2016-08-17 14:53] torognes commented on #191
Thanks! You're right. Will be fixed in next release.

[2016-08-19 12:26] torognes opened #192 "Improve documentation of fastq_stats and fastq_eestats"
We need to document these options.

For usearch documentation, please see:

http://www.drive5.com/usearch/manual/cmd_fastq_stats.html
http://www.drive5.com/usearch/manual/cmd_fastq_eestats.html

[2016-08-20 09:42] GreetDB commented on #186
Thanks a lot for your reply! However, as the effect of combining fastq_minlen and fastq_trunclen is not exactly the same as specifying a minseqlength and maxseqlength, I would find it useful if we can also apply the options minseqlength and maxseqlength to the fastq_filter in the future.

[2016-08-25 08:14] torognes opened #193 "Add option to write non-chosen subsamples to a separate file"
A user asked: When doing subsampling, is there a way to take those samples not chosen in the random subsample and write those to a separate file?

[2016-08-25 08:20] frederic-mahe commented on #193
Provided that we understand correctly what the user asked, I think it could be useful if a user wants to split a dataset in two non-overlapping subsets. The two subsets can be even in size (`--sample_pct 50.0`) or uneven in all other cases.

[2016-08-25 13:02] torognes commented on #193
I guess it is partly explained in this qiime forum post and the figure.

https://groups.google.com/forum/#!searchin/qiime-forum/vsearch$20equivalent$20to$20pick_open_reference_otus%7Csort:relevance/qiime-forum/4Wymjmfgdw8/YO4nvMyLCwAJ

[2016-08-25 16:00] frederic-mahe opened #194 "--fastq_stats fails on fastq files with an offset of +64?"
Hi,

using the fastq test suite, I observe that
[code]
works OK (guess: `--fastq_ascii 64`), while
[code]
fails with an error message:
[code]
Maybe a bug in `--fastq_stats` when working with fastq+64 files?

[2016-08-25 16:51] ConstantinoSchillebeeckx commented on #193
@frederic-mahe that's right; it could be convenient to write the subsampled reads into one file, and all the remaining reads into another.

[2016-08-26 10:12] torognes commented on #194
This is not a bug, but a feature. The quality value range in these files are wider than usual. You therefore have to specify the option `--fastq_qmax 62`. This is indicated when you run the fastq_chars command:

[code]

Usually the quality values are in the range 0 to 41, but in some cases (full range), the values may be higher. You then have to adjust the upper end of the range with the `--fastq_

[2016-08-26 10:13] torognes commented on #194
The error message could be more informative though.

[2016-08-26 11:52] frederic-mahe commented on #194
Thanks for the clarification. How would you change the error message? like that?
[code]

[2016-08-26 12:02] torognes commented on #194
Something like that, yes. But vsearch stops at the first quality value found outside the range, and there might be even higher values later in the file. Also, this error message may occur if a wrong --fastq_ascii values has been specified, so the message may have to be more open.

Perhaps like this?

[code]

[2016-08-26 12:30] frederic-mahe commented on #194
That's very good! I would have known what to do Yesterday if I'd received that message.

To be extra-picky, shouldn't the fatal error message and the information message be on two separated lines?

[2016-08-26 12:33] torognes commented on #194
Fine, then it could be like this:

[code]

[2016-08-26 13:06] frederic-mahe commented on #192
OK. The output of `--fastq_stats` and  `--fastq_eestats` are now documented in the manual. Some concepts, like expected errors, are not explained but a man page might not be the ideal place for that.

Besides the expected typo corrections and text polishing, I think the task is done and we can now close that issue.

[2016-08-26 13:06] #192 closed

[2016-08-26 13:28] frederic-mahe commented on #191
Fixed in the repository version, waiting for an official release.

[2016-08-26 13:30] frederic-mahe commented on #194
That would solve issue #174 too.

[2016-08-26 13:31] frederic-mahe commented on #174
Linked to issue #194

[2016-08-26 16:31] colinbrislawn commented on #192
I'm interested in contributing documentation, say writing a wiki page about Expected Error filtering. If you are currently accepting submissions, I'm willing to submit a draft.

[2016-08-29 14:25] ConstantinoSchillebeeckx opened #195 "redundancy in read searching"
If I understood things correctly, in a 16S pipeline I might to the following:

1.  sort input reads
2. derep input reads (keep size annotation)
3. search against a reference database (e.g. Green Genes) to define OTU clusters
4. use the original input reads (not dereplicated) against my OTU clusters from step 3 to generate a .uc file
5. use `biom from-uc` to generate an OTU table

I'm confused abou

[2016-08-29 17:15] colinbrislawn commented on #195
Great question @ConstantinoSchillebeeckx,

Nope. I makes up for data _lost_ in step 2.

That is correct, but how many of those X reads are in each sample? If your input seqs.fna file comes from only one sample, then the size annotations from step 2. are indeed the abundance of reads in that one sample. However, most data sets consistent of many samples, and the size annotation in step 2 refers to

[2016-08-29 17:18] ConstantinoSchillebeeckx commented on #195
Ah yes, that's the part I was missing - that makes perfect sense.  Thanks Colin!

[2016-08-29 17:18] #195 closed

[2016-08-30 15:45] frederic-mahe commented on #192
Hi @colinbrislawn , if you are willing to write some documentation we could add it to vsearch's wiki and properly credit you.

Thanks for the offer.

[2016-08-30 15:48] frederic-mahe commented on #178
I think we can now close that issue.

[2016-08-30 15:48] #178 closed

[2016-09-01 21:34] torognes commented on #194
Error message improved in vsearch version 2.0.4 just released.

[2016-09-01 21:34] #194 closed

[2016-09-01 21:35] torognes commented on #174
Error message improved in vsearch version 2.0.4 just released.

[2016-09-01 21:35] #174 closed

[2016-09-01 21:35] torognes commented on #191
Fixed in vsearch version 2.0.4 just released.

[2016-09-01 21:35] #191 closed

[2016-09-01 21:52] torognes commented on #14
The vsearch manuscript is now published in PeerJ Preprints:

Rognes T, Flouri T, Nichols B, Quince C, Mahé F. (2016) VSEARCH: a versatile open source tool for metagenomics. PeerJ Preprints 4:e2409v1 https://doi.org/10.7287/peerj.preprints.2409v1

[2016-09-01 22:32] colinbrislawn commented on #192
I'm working on a draft, but am not sure how to share it or get your feedback, as [github wikis don't allow pull requests]( https://stackoverflow.com/questions/10642928/how-to-pull-request-a-wiki-page-on-github).

What works for you. Maybe I could post a gist?

[2016-09-02 11:37] frederic-mahe commented on #192
Hi @colinbrislawn ,

what about you post it here, as a comment to that issue? If you used markdown format, things should be OK. We can discuss the draft here, edit it, and then push it in thee wiki.

I am a bit at a cross-road here. So far, vsearch is documented mostly through its man page. Man pages are meant to be very technical, quick reference documents for already-savvy people. There is also

[2016-09-02 18:19] colinbrislawn commented on #192
I've posted it as a gist, that way you can comment on specific lines. It's still pretty rough...
https://gist.github.com/colinbrislawn/278265c4a4c2247a966da969d74c7ec1

I completely understand the challenge of supporting software used by technical and non-technical folks. Providing documentation for both audiences, in a form that works for them, is time consuming but makes the software so much bet

[2016-09-06 07:48] frederic-mahe opened #196 "Document the UC format in the manpage"
The `--uc` option is available for clustering, dereplication and searching. Writing a definition for each command should make it easier to understand for end-users. As of now, the definition looks like that:
[code]

[2016-09-06 11:05] torognes commented on #190
Thanks for your suggestion. You can use the `--minseqlen` option to exclude short sequences (similar to --fastq_minlen), for instance while you run a sort command. There are no equivalents of the other commands. I will try to add these in a future release.

[2016-09-06 11:13] tobiasgf commented on #190
Great :-)

[2016-09-06 11:53] frederic-mahe opened #197 "Extend --fastx_subsample to support FASTQ files"
The `fastx_subsample` command only accepts fasta files. Usearch can subsample fasta and fastq files.

[2016-09-06 12:04] frederic-mahe opened #198 "Update the manpage"
The documentation was not updated to reflect these changes:
[code]

[2016-09-06 14:25] torognes commented on #197
It does accept fastq files, but information about it is lacking in the manual. The following relevant options are supported: `--fastqout`, `--fastq_qmin`, `--fastq_qmax`, `--fastq_ascii`. Sorry for not making this clear earlier.

[2016-09-06 14:29] frederic-mahe commented on #197
Good! I just have to update the manual then.

[2016-09-08 16:16] ConstantinoSchillebeeckx opened #199 "--top_hits_only limited to --matched instead of also --dbmatched"
I'm running a `--usearch_global` with `--maxaccepts 50 --maxrejects 0` at `--id 97`; I'm interested in only the top hits and am outputting `--dbmatched` for further downstream steps.

With the current settings, I'm getting more reads in the output `--dbmatched` than are in my input reads - I'm assuming this comes from the fact that the `--top_hits_only` flag only applies to the `--matched` output

[2016-09-09 13:01] torognes commented on #199
You are right. The `--top_hits_only` option does not apply to `--dbmatched`. It applies to the other output options, `--alnout`, `--samout`, `--userout`, `--blast6out`, `--uc`, `--fastapairs`, `--matched` and `--notmatched`, but not to `--dbmatched` and `--dbnotmatched`. This behaviour seems to be similar to usearch version 7. In contrast, usearch version 8 seems to ignore the `--top_hits_only` op

[2016-09-09 13:08] torognes commented on #199
What the `--top_hits_only`option does is to only output (to the files specified above) the hit with the highest similarity to the query (in terms of percent identity, given the chosen definition) as well as the other hits that have exactly the same similarity. Only the accepted hits are considered so the `--maxaccepts` option must be specified with an argument larger than 1. If the top hit is 100%

[2016-09-09 14:03] frederic-mahe commented on #199
Hi,

I updated the documentation:
[code]
What do you think?

[2016-09-09 14:05] torognes commented on #193
This feature is now available in vsearch version 2.0.5, just released. The options `--fastaout_discarded` and `--fastqout_discarded` are available to specify the file names to which the non-chosen sequences are written. Abundances are taken into account if `--sizein` is specified.

[2016-09-09 14:09] torognes commented on #199
Sound good. Unfortunately I just released a new version with the first half of this text included.

[2016-09-09 14:11] #193 closed

[2016-09-09 14:13] frederic-mahe commented on #199
No problem, I pushed a new commit.

[2016-09-09 14:36] ConstantinoSchillebeeckx commented on #199
Thanks for all the info everyone - I suppose a quick workaround for me would be to dereplicate the `--dbmatched` output.

[2016-09-09 14:51] frederic-mahe commented on #34
What do you think @torognes? the idea of using `top_hits_only` and `--maxaccepts 0` is to be sure to find all best matches: if there are 250 target sequences 100% identical to my query sequence, I want to get all of them in the output.

Or did I misunderstand the process? If the target sequences are pre-sorted by k-mer profile similarity first, can I safely set `--maxrejects 32` to implement the s

[2016-09-16 11:38] torognes commented on #34
In this scenario I think it would make sense to set a reasonable maxrejects value (e.g. 32 or even 1000). I think this will be a good heuristic that would capture all the top hits in almost all cases.

[2016-09-16 12:27] torognes commented on #199
As a workaround you could get the identifiers of the target sequences using the `--userout` and `--userfields target` options and then extract those sequences from the database. Another alternative would be to use the `--fastapairs` option, remove the query sequence(s) (every odd-numbered sequence) and then dereplicate it.

Ideally, there should be a new option to change the behaviour to the more

[2016-09-16 15:34] torognes commented on #197
Fixed in version 2.1.0 just released.

[2016-09-16 15:34] #197 closed

[2016-09-16 15:35] torognes commented on #190
These options are available with the fastx_filter command available in version 2.1.0 just released.

[2016-09-16 15:35] #190 closed

[2016-09-16 15:36] torognes commented on #189
Wordlengths down to 3 are allowed in version 2.1.0 just released.

[2016-09-16 15:36] #189 closed

[2016-09-16 15:37] torognes commented on #186
The --fastq_minlen and --fastq_maxlen options are now available with fastx_filter and fastq_filter in version 2.1.0 just released.

[2016-09-16 15:37] #186 closed

[2016-09-16 15:38] torognes commented on #180
The --fastq_truncee option is available with fastq_filter and fastx_filter in version 2.1.0 just released. The sequences will be truncated so that their total EE is never higher than the specified value.

[2016-09-16 15:38] #180 closed

[2016-09-19 11:12] GreetDB commented on #186
thanks!

[2016-09-19 14:10] #199 closed

[2016-09-19 14:57] #34 closed

[2016-09-20 08:58] frederic-mahe commented on #198
Done

[2016-09-20 08:58] #198 closed

[2016-09-20 09:39] torognes commented on #175
Currently VSEARCH does not allow input files in FASTQ format to have an empty sequence.

Perhaps FASTQ files with empty sequences should be considered invalid. I cannot find a clear statement in the FASTQ "standard" on this issue in [the NAR paper by Cock et al.](https://doi.org/10.1093/nar/gkp1137), but it seems reasonable to assume they the sequence and quality lines cannot be empty.

In the cas

[2016-09-20 10:02] frederic-mahe commented on #175
If that case is not clearly defined in the standard, I think the best solution would be to simply discard empty sequences, as vsearch already discards sequences shorter than 32 nucleotides. It would avoid a `fatal error` that could be hard for users to understand and to avoid.

It is up to you, depending on the complexity of the implementation.

[2016-09-20 13:56] torognes commented on #14
Peer-reviewed manuscript accepted in PeerJ yesterday.

[2016-09-20 14:26] torognes commented on #188
The time used to compute hashes in vsearch is so small that it is negligible in almost all cases. I have performed some test on this. There is no point in trying to improve performance of hashing.

[2016-09-20 14:26] #188 closed

[2016-09-20 14:27] torognes commented on #106
The time used to compute hashes in vsearch is so small that it is negligible in almost all cases. I have performed some test on this. There is no point in trying to improve performance of hashing.

[2016-09-20 14:27] #106 closed

[2016-09-20 14:29] torognes commented on #161
A few changes were made to the consensus sequences some time ago. In some cases "AAAA" was erroneously output when the sequence should have been "NNNN".

Recently the command `--fastx_filter` was added. This command can be used to remove sequences based on length, the number of Ns etc.

I think more advanced methods for constructing consensus sequences may be performed by analysing the profile gen

[2016-09-20 14:29] #161 closed

[2016-09-20 14:44] torognes commented on #119
Or perhaps [parasail](https://github.com/jeffdaily/parasail)?

[2016-09-20 15:23] colinbrislawn commented on #119
👍 for parasail, as it supports proteins alignments as well, to close #42. Also @jeffdaily is nice.

[2016-09-21 13:31] frederic-mahe commented on #196
Done for clustering. The uc output for other commands is a bit more complicated. I will need a few more days to document it properly.

[2016-09-21 14:50] torognes commented on #196
The output is basically the same for the other commands, but the cluster number in the second column is the target number (i.e. the sequential sequence number in the file, zero-based) instead of the cluster number. Think of each sequence as a separate cluster.

[2016-09-21 19:38] ConstantinoSchillebeeckx opened #200 "fulldp option"
is there any way to turn the `--fulldp` option off?  The manual says always on ... however I don't understand why it's an option if it can't be turned off/on ...

[2016-09-21 22:33] torognes commented on #200
No, the `--fulldp` option is always on. The option is there for compatibility with usearch, so that any script made for usearch that uses this option will work as expected if usearch is replaced with vsearch. The `--fulldp` option does not have to be removed from the script, it will just be ignored.

[2016-09-21 23:34] #200 closed

[2016-09-22 08:04] frederic-mahe opened #201 "Missing H record in --uc output when prefix dereplicating two sequences of unequal length"
With the test file below:
[code]
I obtain the following result with usearch v7:
[code]
and the following result with vsearch:
[code]
The H record is missing. vsearch produces a H record, as expected, when the two sequences have the same length. I pushed a unit test with shorter input sequences to the vsearch-data repository.

[2016-09-22 10:07] torognes commented on #201
Fixed.

[2016-09-22 10:59] frederic-mahe commented on #201
Unit test now passes.

[2016-09-22 10:59] #201 closed

[2016-09-22 12:54] torognes opened #202 "Implement relabel @"

[2016-09-22 14:59] frederic-mahe commented on #196
Thanks, it makes sense. I pushed the last commits. uc output is now documented.

[2016-09-22 14:59] #196 closed

[2016-09-25 15:49] frederic-mahe commented on #119
I just finished reading [parasail's paper](http://www.biomedcentral.com/1471-2105/17/81). Indeed, it seems very interesting as it covers local, semi-global and global alignments, nucleotide and amino acids, and is generally fast.

I am not sure that parasail can return backtraces or alignments though (it is planned but not implemented yet). That could be a problem.

[2016-09-25 17:23] frederic-mahe commented on #119
Using parasail would also solve issue #16 (accelerate single query vs. single subject, important for clustering). I never tried but with git submodules it seems easy to clone parasail's git repository inside vsearch's.

[2016-09-27 08:47] nikosdarzentas opened #203 "--fastq_trunclen and discarded sequences"
Hello all,

I used --fastq_trunclen to ...truncate FASTQ files, and it works as advertised, but the discarding of shorter sequences can be an issue downstream, since e.g. R1 and R2 files may end up unbalanced. You can save discarded sequences, but then putting them back in in the right order is 1-2 extra steps.

Firstly, is there a way that I missed to control this discarding? If not, I believe it

[2016-09-27 11:43] torognes commented on #203
I think I understand your problem, but I am not quite sure. You would like to truncate sequences to a specific length, right? But then you would like an option to keep the sequences that are too short instead of discarding them? I do not think the is possible now, but I see the use for it.

[2016-09-27 11:48] nikosdarzentas commented on #203
Yes, you got it.

I used awk in the end, and as I implied it's even relatively easy to save and append the discarded (although you need to reorder/sync the FASTQs for most purposes), but it'd be great if it was internally controlled.  Just my two pence for this very useful tool.

Many thanks.

[2016-09-27 14:19] torognes opened #204 "fastx_filter ignores input sequence abundance when relabeling"
Is seems like `fastx_filter` ignores input sequence abundances when relabeling with fasta input, `--sizein` and `--sizeout` options.

[2016-09-27 15:04] torognes commented on #119
I like the idea of using Parasail, but after considering it a bit I am a bit concerned about the performance. Computing the alignments now accounts for about 80% of the time used for clustering and changes here will have a major impact.

1) One thing is that It seems like there is little to gain from using AVX2 on short sequences. Only sequences longer than 200bp seems to benefit from AVX2. See fi

[2016-09-27 17:49] colinbrislawn commented on #119
1) parasails most consistent improvement is with global alignments, when prefix scan is used. See [Fig 3](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4748600/figure/Fig3/). This is a great fit for amplicon search and clustering. Like you said, neither prefix scan or AVX show a consistent improvement in local alignments.

2) Good distinction about parallelization method. Given that vsearch is typi

[2016-09-28 09:32] frederic-mahe commented on #119
This is something I was wondering while reading the Parasail paper. Does vsearch perform mostly comparisons that require inter-task or intra-task parallelization? I wasn't sure, but It seems to me that vsearch does mostly inter-task (one-to-many) comparisons. And Torbjørn's approach is still the fastest for this.

Now, the question remains: can Torbjørn's approach benefit from using AVX2 instructi

[2016-09-28 12:00] torognes commented on #204
Fixed in version 2.1.2 just released.

[2016-09-28 12:00] #204 closed